{% extends "rest_framework/base.html" %}
{% load i18n %}

{% block title %}{% if name %}{{ name }} – {% endif %}API BioSTREAM{% endblock %}
{% block style %}
    {{ block.super }}
    <style>
        .str {
            color: rgba(233, 71, 24, 1) !important;
        }
        .navbar {
            background-color: #E94718 !important;
            border-top-color: rgba(233, 71, 24, 0.2) !important;
        }
        .navbar .dropdown-menu li a, .navbar .dropdown-menu li {
            color: rgba(233, 71, 24, 0.2) !important;
        } 
        .btn-primary {
            background-color: #E94718 !important;
            border-color: #a82828 !important;
        }           
        .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
            background-color: #E94718 !important;
            border-color: #a82828 !important;
        }
        .pagination>li>a, .pagination>li>span {
            background-color: #E94718 !important;
        }              
    </style>
{% endblock %}
{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="{% url 'home'%}">
        <img class="icon" src="{{ MEDIA_URL }}loghi/fondazione_unesco.png" height=20 />
    </a>
    <a class="navbar-brand" rel="nofollow" href="#">
        API BioSTREAM
    </a>
    <a class="navbar-brand" rel="nofollow" href="{% url 'home' %}">
        Torna al sito
    </a>

{% endblock %}