{% extends "rest_framework/login_base.html" %}
{% block title %}{% if name %}{{ name }} – {% endif %}API BioSTREAM{% endblock %}
{% block style %}
    {{ block.super }}
    <style>
        .str {
            color: rgba(233, 71, 24, 1) !important;
        }
        .navbar {
            background-color: #E94718 !important;
            border-top-color: rgba(233, 71, 24, 0.2) !important;
        }
        .navbar .dropdown-menu li a, .navbar .dropdown-menu li {
            color: rgba(233, 71, 24, 0.2) !important;
        }
        .btn-primary {
            background-color: #E94718 !important;
            border-color: #a82828 !important;
        }    
    </style>
{% endblock %}
{% block branding %}
<div style="text-align: center; margin-bottom: 2em;">
   <h3>API BioSTREAM</h3>
    <img class="icon" src="{{ MEDIA_URL }}loghi/fondazione_unesco.png" height=90 />
</div>
{% endblock %}