{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profilo{% endblock %}

{% block main_menu %}
    {% include "_navbar.html" with active_link="servizi" %}
{% endblock main_menu %}

{% block centered_container %}

<div class="container">
  <div class="container profile-head">
  <h1>Edita profilo - {{ user.get_full_name }}</h1>
  </div>
  <br>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img title="profile picture" class="img-circle img-responsive" src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
      </div>
    </div>
      
    <!-- edit form column -->
    <div class="col-md-9">
      <h3>Informazioni personali</h3>
      <form enctype="multipart/form-data" method="post">
      {% crispy user_form %}
      {% crispy profile_form %}
      </form>
    </div>
  </div>
</div>
{% endblock centered_container %}


