{% extends "base.html" %}

{% load static %}
{% load thumbnail %}

{% block main_menu %}
    {% include "_navbar.html" %}
{% endblock main_menu %}

{% block title %}{{ block.super }}Profilo{% endblock %}

{% block centered_container %}

<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ show_user.get_full_name }}</h1>
      {% if editable %}
      <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Edita profilo</a>
      <a href="{% url 'datarequests-list' %}" class="btn btn-primary">Richieste dati</a>
      {% endif %}
    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
    </div>
  </div>
</div>

<div class="container profile-body">
  <div class="row">
    <div class="col-sm-5">
      <ul class="list-group">
        <li class="list-group-item text-muted">Profilo</li>
        <li class="list-group-item"><span class="pull-left"><strong>Email: </strong> </span> {{ show_user.email|default:"Nessuna mail fornita" }}{% if show_user.profile.email_verified %} <span class="pull-right"><i class="fas fa-check-circle" title="Indirizzo mail verificato">{% else %}<i class="fas fa-times-circle" title="Indirizzo mail non verificato">{% endif %}</i></span></li>
        <li class="list-group-item"><span class="pull-left"><strong>Istituzione: </strong></span> {{ show_user.profile.declared_institution.institution_name|default:"NA" }} ({{ show_user.profile.declared_institution.province|default:"NA" }})
        {% if show_user.profile.institution_verified %} <span class="pull-right"><i class="fas fa-check-circle" title="Istituzione verificata">{% else %}<i class="fas fa-times-circle" title="Istituzione non verificata">{% endif %}</i></span></li>
        <li class="list-group-item"><span class="pull-left"><strong>Registrazione: </strong></span> {{ show_user.date_joined }}</li>
        <li class="list-group-item"><span class="pull-left"><strong>Ultimo login: </strong></span> {{ show_user.last_login }}</li>
      </ul>
    </div>
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
	  {% if show_user.profile.slug %}
	    <a href="{% url 'profiles:show' show_user.profile.slug %}">
	    	<span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
	    	<span class="sr-only">Permalink</span></a> {{ show_user.profile.get_absolute_url }}
	  {% else %}
		<a href="https://github.com/arocks/edge/issues/40" target="_blank"><span>No permalink. See this issue.</span></a>
	  {% endif %}
	</div>
        <div class="panel-body">
	  <strong>Bio</strong>: {{ show_user.profile.bio }}
	</div>
      </div>
    </div>
  </div>
</div>

{% endblock centered_container %}


