{% extends 'documentation/documentation_base.html' %}
{% load static %}

{% block documentation_detail %}
<h3>Gestione utenti</h3>
Nell'interfaccia di amministrazione (<code>Admin</code> > <code>Utenti</code>) è possibile per gli amministratori di sistema abilitare/disabilitare e soprattutto
assegnare permessi ai singoli utenti registrati a sistema. Il meccanismo è particolarmente utile per dare accesso compartimentato solo a certe parti dell'interfaccia di 
amministrazione, e/o ad abilitare la visualizzazione dei dati di dettaglio senza al contrario dare accesso all'<em>admin</em>.

Per modificare i permessi relativi ad un utente registrato, cliccare sull'indirizzo mail dell'utente interessato tra quelli che appaiono nella lista:
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_34.png'%}"></img>
</figure>
Vi sono svariate opzioni:
    <ul>
        <li>attivare/disattivare una utenza (nel caso di utenza disattiva, il proprietario non riuscirà ad effettuare l'accesso al sistema pur conservando quest'ultimo i suoi dati e le strutture da lui generate);</li>
        <li>assegnare all'utente <strong>privilegi di staff</strong>: questo consente al profilo di accedere all'interfaccia di amministrazione;</li>
        <li>assegnare all'utente <strong>privilegi di amministratore</strong>: l'utente acquisisce pieni poteri sul sistema;</li>
        <li>assegnare all'utente un gruppo di permessi preimpostato, in particolare:
            <ul>
                <li><strong>DATABASE_INGESTOR</strong>: l'utente può inserire nuovi dataset, previa l'attivazioone della flag <em>privilegi di staff</em>;</li>
                <li><strong>READONLY</strong>: l'utente ha privilegi utili esclusivamente a visualizzare le informazioni del portale, al dettaglio puntiforme che gli compete;</li>
                <li><strong>USERS_MANAGER</strong>: l'utente può assegnare permessi ad altri utenti.</li>
            </ul>
            Da notare come ad un utente possono essere assegnati anche gruppi di permessi multipli.
        </li>
        <li>assegnare all'utente permessi di dettaglio (scrittura/modifica/eliminazione/lettura) a seconda della componente del sistema che si vuole abilitare.</li>
    </ul>
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_35.png'%}"></img>
</figure>
Per ulteriore validazione dell'utente, ed in particolare per abilitarlo alla visualizzazione dei dati puntiformi, è necessario validarne la mail e l'istituzione di provenienza: lo si può
fare semplicemente spuntando i relativi campi sul fondo del profilo utente.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_36.png'%}"></img>
</figure>



{%endblock documentation_detail%}
