{% extends 'documentation/documentation_base.html' %}
{% load static %}

{% block documentation_detail %}
<h3>Richieste dati</h3>
Gli utenti non amministratori che desiderano ottenere informazioni più precise rispetto ad una certa area possono richiederle utilizzando l'apposito tool <a href="{% url 'profiles:show_self'%}">entro il loro profilo</a>.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_23.png'%}"></img>
</figure>
Cliccando su "richiesta dati" all'utente viene presentato un semplice form ove va specificato:
<ul>
    <li>di dettagliare le motivazioni della richiesta;</li>
    <li>di disegnare l'area per la quale si richiedono i dati precisi;</li>
    <li>di indicare se si desiderano dati precisi per sole specie in Direttiva Habitat.</li>
</li>
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_25.png'%}"></img>
</figure>

Una volta completato ed inviato il form, il sistema genera al volo i dettagli utili agli amministratori di sistema per valutarla: tale generazione può richiedere qualche secondo. 
Una volta completato il processo, l'utente viene rimandato alla pagina dove vengono elencate tutte le richieste.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_33.png'%}"></img>
</figure>

Ogni richiesta presenta, oltre all'inquadramento in mappa della stessa, svariati dettagli:

<ul>
    <li>l'elenco dei <code>fornitori</code> che devono approvare la richiesta, con segnato lo <em>status</em> della stessa;</li>
    <li>se la richiesta sia o meno stata approvata da tutti i fornitori;</li>
    <li>se la richiesta è valida</li>.
</ul>

Nel momento in cui almeno un fornitore approva la richiesta, l'area della stessa viene visualizzata nella pagina WebGIS: entro la stessa, i dati di osservazioni eventualmente presenti all'interno appaiono alla massima precisione disponibile (dettaglio puntiforme). Inoltre, per ogni <code>fornitore</code> che accetta la richiesta, il sistema mette a disposizione sempre nella pagina di elenco delle richieste un link di download del dataset corrispondente ai dati messi a disposizione entro quell'area dal <code>fornitore</code>. Se tutti i <code>fornitori</code> accettano la richiesta, il sistema restituisce un solo link con il dataset globale entro l'area richiesta pronto per lo scaricamento.

L'utente viene notificato delle varie decisioni prese dai singoli <code>fornitori</code> riguardo la sua richiesta.

Passati dieci giorni dall'invio del form, la richiesta viene automaticamente eliminata, qualsiasi sia il suo <em>status</em>.

{%endblock documentation_detail%}
