{% extends 'base_nologo.html' %}

{% load static %}

{% block main_menu %}
    {% include "_navbar.html" with active_link="documentation" %}
    <style>
        .img-doc-wide {
            width: 60%;
            border: 1px solid black;
        }
        .img-doc-long {
            width: 30%;
            border: 1px solid black;
        }
    </style>    
{% endblock main_menu %}

{% block centered_container %}

<h1>Documentazione</h1>
{% block documentation_detail %}
Benvenuti nel Portale BioSTREAM! Questa guida vi guiderà attraverso alcune delle principali <em>feature</em> del sito web.

<h3>Osservazioni, Fornitori, Gestori</h3>
Il Portale si basa su <em>osservazioni</em> di fauna e flora di qualsiasi grado di protezione, provenienti da <a href="{% url 'catalogo'%}">svariati dataset</a> forniti dalle Istituzioni (d'ora in avanti, <code>fornitori</code>) partecipanti al Progetto: ogni <code>fornitore</code> decide tramite un apposito accordo (<a href="{{MEDIA_URL}}docs/modello_di_accordo.doc">modello</a>) i termini relativi alla fornitura delle proprie basi dati, tra i quali:
<ul>
    <li><strong>metodi</strong>, ovvero, se i dataset devono venire caricati direttamente all'interno del Portale BioSTREAM o se automaticamente recuperati da una fonte accessibile via web che il <code>fornitore</code> mette a disposizione (quest'ultima procedura è per ora attiva per due sole fonti: i dati MUSE - Museo delle Scienze di Trento e i dati <a href="www.inaturalist.org">iNaturalist</a>);</li>
    <li><strong>precisione spaziale delle osservazioni</strong>, per quanto quest'ultima sia desiderabilmente la massima disponibile: il Portale mette infatti a disposizione precise funzionalità di diluizione della precisione per utenti non autenticati e per <em>fornitori</em> che non hanno esplicita autorizzazione alla visualizzazione da parte di altri <em>fornitori</em>.</li>
</ul>

Il gruppo di conduzione del portale (<code>gestori</code>) si preoccupa di intessere le necessarie relazioni con i <code>fornitori</code>, dello sviluppo e della regolare manutenzione dello stesso e della mobilizzazione ai fini BioSTREAM delle proprie banche dati. Per assicurare la compatibilità con il Portale, i dati vengono preventivamente standardizzati <a href="{% static 'standard_inserimento_biostream.pdf' %}">secondo un apposito protocollo</a>. 

<h3><a href="{% url 'home'%}">Homepage</a></h3>
<figure>
<img class ="img-doc-wide" src="{% static 'site/img/manual/biostream_1.png'%}"></img>
<figcaption>Mappa di densità delle osservazioni entro BioSTREAM</figcaption>
</figure>
La pagina presenta le maggiori funzionalità del portale assieme a brevi statistiche riassuntive aggiornate in tempo reale: tali statistiche includono una cartografia che mostra con una scala di colori automaticamente riscalata dal numero massimo al numero minimo la densità di osservazioni rispetto ad una griglia regolare di 10x10<code>km</code> entro il database BIoSTREAM.
La home rimanda inoltre alle tre principali funzionalità del portale, ovvero:

<ul>
    <li><strong><a href="{% url 'gis'%}">WebGIS</a></strong>, strumento di consultazione delle osservazioni su mappa;</li>
    <li><strong><a href="{% url 'catalogo'%}">GeoServer</a></strong>, utile alla fornitura delle cartografie di sfondo (e.g., Habitat Natura 2000) e all'interfaccia con software GIS per il tramite di servizi <code>WMS</code>/<code>WFS</code>;</li>
    <li><strong><a href="{% url 'table-specie'%}">Consultazioni di dettaglio</a></strong>, che visualizza informazioni riguardo gli attributi delle varie osservazioni memorizzate</li>
</ul>

Entro l'amministrazione del profilo 

Le funzionalità più ampie ed interessanti sono racchiuse entro le pagine <a href="{% url 'documentation_gis'%}">WebGIS</a> e consultazioni di dettaglio / checklist<a href="{% url 'documentation_checklist'%}"></a> e nella domanda di <a href="{% url 'documentation_datarequest' %}">accesso dati di dettaglio</a>, alla documentazione delle quali i link precedenti e i menu nella barra di navigazione rimandano.

<h3><a href="{% url 'profiles:show_self'%}">Profilo</a></h3>
<figure>
<img class ="img-doc-wide" src="{% static 'site/img/manual/biostream_23.png'%}"></img>
<figcaption>Profilo esempio di un utente</figcaption>
</figure>

Completata la <a href="{% url 'accounts:signup'%}">prima registrazione</a> dell'utente entro il portale, l'utente ha la possibilità di completare il proprio profilo con alcune informazioni di base, cliccando sul pulsante <em><a href="{% url 'profiles:edit_self' %}">edita il profilo</a></em>. Particolarmente importanti sono i campi:
<ul>
    <li><strong>Istituzione di appartenenza dichiarata</strong>: l'utente seleziona tra quelle disponibili, e se legittima, gli amministratori di sistema ne associano il profilo a tale istituzione. Una volta completato questo processo l'utente visualizzerà i dati forniti dall'istituzione alla quale viene associato <em>alla massima precisione disponibile</em>, così come i dataset dei fornitori che hanno esplicitamente concesso la visualizzazione precisa all'istituzione legata all'utente. Le rimanenti osservazioni restano vincolate alle normali procedure di tutela del portale;</li>
    <li><strong>Breve bio</strong>: descrizione dell'utente utile a valutare da parte degli amministratori l'istituzione di appartenenza dichiarata.</li>
</ul>

Nel caso in cui l'utente non abbia un profilo di amministrazione, gli viene data la possibilità di <a href="{% url 'documentation_datarequest'%}">richiedere la visualizzazione per dati di dettaglio</a>.

{%endblock documentation_detail%}

{% endblock centered_container %}