{% extends 'documentation/documentation_base.html' %}
{% load static %}

{% block documentation_detail %}
<h3>Checklist</h3>
La consultazione entro questa pagina avviene in maniera molto simile allo strumento "<a href="{% url 'documentation_gis'%}#areaquery">Cerca per area disegnata</a>" nella pagina WebGIS, ma fornisce informazioni riassuntive ugualmente scaricabili in formato <code>csv</code> sulle specie e sugli habitat presenti entro una certa area selezionata/disegnata.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_28.png'%}"></img>
</figure>

A seconda delle dimensioni dell'area, l'interrogazione può talvolta risultare relativamente lenta, ma in ogni caso sempre inferiore ai 30 secondi nel tempo di restituzione.

L'utente ha a disposizione due funzionalità di ricerca:
<ul>
    <li>la prima, attivata semplicmente selezionando una delle aree protette entro l'area del Progetto dal menu a tendina (è possibile cercare una particolare area protetta per codice o nome) gli permette di ottenere le informazioni entro i confini di quella specifica area
    <figure>
        <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_30.png'%}"></img>
    </figure>
    </li>
    <li>
    nella seconda, può disegnare un'area qualsiasi, ed ottenere le stesse informazioni di cui sopra.
    <figure>
        <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_32.png'%}"></img>
    </figure>
    </li>
</ul>

Tutte le informazioni restituite sono scaricabili premendo il bottone di download, e dettagliano:

<ul>
    <li>le varie specie presenti nell'area, divise per classe;</li>
    <li>gli habitat presenti nell'area, dettagli dei quali sono visualizzabili come nella <a href="{% url 'documentation_gis'%}#layersfondo">pagina WebGIS</a></li>
</ul>
{%endblock documentation_detail%}
