{% extends 'documentation/documentation_base.html' %}
{% load static %}


{% block documentation_detail %}
<style>
    .button-ol {
        color: white;
        background-color: #E94718;
        border: 1px solid black;
    }
</style>
<h3>Comandi base</h3>
La pagina di consultazione dei dettagli delle osservazioni <em>taxon</em>-specifiche si presenta come un normale WebGIS.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_2.png'%}"></img>
</figure>

Oltre ai comandi di zoom in/out (<strong class="button-ol">+</strong> / <strong class="button-ol">-</strong>) nel pannello in alto a sinistra), alla barra di scala in basso a sinistra e alle informazioni relative ai layer di sfondo visualizzate premendo sul pulsante <strong class="button-ol">i</strong> in basso a destra, si notano due barre degli strumenti entro la mappa. Nel dettaglio:

<ul>
<li>In basso 
<figure>
    <img src="{% static 'site/img/manual/biostream_22.png'%}"></img>
</figure>
con funzionalità, nell'ordine da sinistra a destra:
    <ul>
        <li>spostamento della visuale della mappa</li>
        <li>attivazione dei filtri per i layer delle specie</li>
        <li>zoom all'area del Progetto (area di competenza degli enti <code>gestori</code>)</li>
        <li>modalità schermo intero</li>
        <li>reset della rotazione</li>
        <li>disattivazione della maschera di sfondo</li>
        <li>salvataggio immagine della mappa</li>
    </ul>
</li>

<li>In alto
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_21.png'%}"></img>
</figure>
con funzionalità di ricerca e zoom ad una qualsiasi località (lente) e zoom su un punto cliccato 
</li>
</ul>

<h3>Selettore layer</h3>
In alto a destra è poi disponibile un selettore dei layer: entro questo menu vengono sia visualizzati i layer di sfondo che tutti i layer di specie caricati dall'utente. Di ogni layer l'utente può attivare / disattivare la visualizzazione così come regolarne la trasparenza agendo sullo <em>slider</em>, oppure rimuoverlo del tutto (possibile solo per i layer di specie e per quelli aggiunti tramite trascinamento, come ad esempio i KML). 
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_15.png'%}"></img>
</figure>

<h3>Ricerca <em>taxon</em></h3>
All'esterno della mappa l'utilità più evidente è la barra di ricerca della tassonomia: digitando almeno tre lettere del nome scientifico della specie per la quale si desidera visualizzare i punti di osservazione / campionamento, il sistema restituisce tutti i <em>taxa</em> che corrispondono a quella ricerca, compresi quelli di grado superiore alla specie. Una ricerca per tassonomie superiori a quella specie-specifica restituisce non solo le osservazioni con esattamente quel grado di determinazione tassonomica, ma anche tutte le specie incluse in tale gerarchia.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_3.png'%}"></img>
</figure>
Una volta effettuata la ricerca, il layer della specie viene aggiunto alla mappa cliccando sul nome desiderato.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_6.png'%}"></img>
</figure>
A seconda che l'utente abbia effettuato il login o meno, sulla mappa appaiono:
<ul>
    <li><strong>per qualsiasi utente</strong> un solo layer composto di poligoni esagonali di dimensione prefissata (10<code>km</code> di apotema) che ricoprono regolarmente i punti di segnalazione del <em>taxon</em> selezionato. A seconda che l'utente sia o meno autenticato, l'apotema dell'esagono si ridimensiona in base allo zoom;</li>
    <li><strong>per utenti autenticati</strong> anche il layer delle osservazioni precise: queste vengono visualizzate a seconda dei permessi concessi al'utente come specificato nell'<a href="{% url 'documentation_base' %}">introduzione</a></li>  
</ul>
Il colore prevalente dei vari layer è scelto casualmente dal sistema.

<h3>Filtri</h3>
Cliccando sul pulsante di attivazione dei filtri nella barra degli strumenti principale, si possono impostare dei filtri globali (ovvero, validi per tutti i layer di specie) che agiscono rispetto agli attributi delle osservazioni.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_4.png'%}"></img>
</figure>

<h3>Attributi delle osservazioni</h3>
Per accedere a questi attributi, è sufficiente cliccare su uno degli esagoni sovrapposti ai punti di osservazione: la visualizzazione si sposterà quindi appena sotto la mappa, mostrando i dettagli degli attributi delle osservazioni contenute entro l'esagono selezionato all'interno di una tabella navigabile.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_8.png'%}"></img>
</figure>
Alcuni di questi attributi sono interattivi, ovvero, aprono ulteriori schede che specificano meglio l'informazione selezionata: la disponibilità di queste schede è segnalata dalla presenza sull'informazione di un bottone arancione.
<figure>
    <img class="img-doc-long" src="{% static 'site/img/manual/biostream_9.png'%}"></img>
    <figcaption>Scheda aggiuntiva con informazioni riguardo il dataset di origine per una certa osservazione</figcaption>
</figure>
<figure>
    <img class="img-doc-long" src="{% static 'site/img/manual/biostream_11.png'%}"></img>
    <figcaption>Scheda aggiuntiva con informazioni generali riguardo il taxon selezionato. Questa scheda è raggiungibile anche premendo il bottone <strong class="button-ol">i</strong> a fianco del nome del <em>taxon</em> desiderato entro il pannello dei layer.</figcaption>
</figure>

<h3>URI</h3>
Ogni osservazione è corredata di una URI - <em>Universal Resourse Identifier</em>, ovvero, di una URL che rimanda l'utente ad una pagina separata e specifica di ogni osservazione ove l'utente può visualizzare informazioni aggiuntive riguardo quella stessa osservazione.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_13.png'%}"></img>
</figure>

<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_14.png'%}"></img>
</figure>

<h3 id="layersfondo">Layer di sfondo</h3>
Quasi tutti i layer di sfondo sono interrogabili: al click sulla mappa e con i layer di sfondo attivati, il sistema restituisce appena sotto la vista WebGIS gli attributi corrispondendi all'oggetto cliccato.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_18.png'%}"></img>
</figure>

In particolare, il layer degli Habitat Natura2000 restituisce anche un collegamento al sito "<a href="http://vnr.unipg.it/habitat/">Habitat Italia</a>": cliccando sul codice dell'habitat corrispondente all'oggetto cliccato con il corrispondente layer attivato, viene aperto un popup che visualizza i dettagli di tale habitat come appaiono sul sito di cui sopra.
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_19.png'%}"></img>
</figure>

<h3 id="areaquery">Interrogazione per area</h3>
È possibile prescindere dalla ricerca per singola tassonomia ed interrogare il portale affinchè restituisca tutte le informazioni relative ad una certa area richiesta (funzionalità simile a quanto disponibile nella pagina di <a href="{% url 'documentation_checklist'%}">checklist</a>): lo strumento si attiva cliccando sul bottone "Cerca per area disegnata".
<figure>
    <img class="img-doc-wide" src="{% static 'site/img/manual/biostream_20.png'%}"></img>
</figure>

Dopo l'attivazione dello strumento, il cui bottone si illumina di verde, l'utente provvede a disegnare un'area non più grande di 10<code>kmq</code> (misura scelta a priori per non sovraccaricare il sistema: è possibile che in futuro tale limite venga aumentato o del tutto rimosso), anche grazie all'aiuto del <em>tooltip</em> che mostra le dimensioni dell'area via via che il disegno prosegue. Per aggiungere punti all'area è sufficiente fare click con il tasto sinistro del mouse: con il click destro si completa invece il disegno, operazione che produce un elenco di tutte le osservazioni di dettaglio disponibili entro l'area. 

L'utente può ripetere l'operazione disegnando una nuova area dopo aver rimosso quella vecchia (tasto "pulisci" attivo nella barra degli strumenti principale), oppure tornare alla modalità normale cliccando nuovamente sul bottone "Cerca per area disegnata": dopo la disattivazione, il simbolo entro il bottone ritorna bianco, e l'utente può utilizzare il WebGIS normalmente.






{%endblock documentation_detail%}
