{% extends 'base.html' %}

{% load static %}
<!--
-----------------
	MAIN MENU
-----------------
-->
{% block extra_head %}
	{{ block.super }}
	<style>
	.mid-selector {
		width: 40%;
	}

	.full-selector {
		width: 95%;
	}	
	</style>
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock extra_head %}

{% block main_menu %}
	{% include "_navbar.html" with active_link='gis' %}
{% endblock main_menu %}

{% block centered_container %}
<!-- Loader -->
<div id="overlay">
  <div class="lds-dual-ring"></div>
</div>

{% block main_content %}
{% endblock main_content %}

{% endblock centered_container %}




{% block bottom_scripts %}
	{{ block.super }}
	<!-- Loader -->
	<script>
		document.getElementById("overlay").style.display = "block";
		$(document).ready(function() {
			document.getElementById("overlay").style.display = "none";
		});
	</script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/eligrey/FileSaver.js/aa9f4e0e/FileSaver.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>	
{% endblock bottom_scripts %}	