{% extends 'table_base.html' %}

{% block main_menu %}
    {% include "_navbar.html" with active_link="servizi" %}
{% endblock main_menu %}

{% block main_content %}
<style>
div.dataTables_wrapper div.dataTables_filter {
	visibility: hidden;
}
</style>
<h1>Consultazione tabellare - specie</h1>
<div class="py-3">
    <select class="mid-selector" id="select-specie" name="state">
        <option></option>
    </select>
</div>
<div class="container" id="table-container">
<div class="row" id='ultratable-container' style="visibility:hidden;"> 
	<div class="col-sm-12 col-lg-12 col-md-12">
	<table id="ultratable" class="table table-striped" style="width:100%" data-server-side="true" >
		<thead>
		<tr>
			<th data-data="protectedarea_code">Codice SIC/ZPS</th>
			<th data-data="taxon">Specie</th>
			<th data-data="rank">Classe</th>
			<th data-data="habitatprotection">Dir. Habitat</th>
			<th data-data="dataorigin_institution_name">Istituzione</th>
			<th data-data="dataorigin_name">Dataset di origine</th>
			<th data-data="baseoss">Base osservazione</th>
			<th data-data="date_year">Anno</th>
			{% if user.is_staff %}
			<th data-data="date_day">Giorno</th>
			<th data-data="date_month">Mese</th>
			<th data-data="time">Ora</th>
			<th data-data="sampling_method">Metodo di campionamento</th>
			<th data-data="sampling_precision">Precisione del metodo di campionamento</th>
			<th data-data="coord_precision">Precisione nella localizzazione</th>
			<th data-data="latitude_wgs84">Latitudine (WGS84)</th>
			<th data-data="longitude_wgs84">Longitudine (WGS84)</th>
			{% endif %}
		</tr>
		</thead>
	</table>
	</div>
</div>
</div>

<!-- Specie info Modal -->
<div class="modal fade" id="modal-specieinfo" tabindex="-1" role="dialog" aria-labelledby="modal-specieinfo" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div id="modal-body" class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>	
</div>
{% endblock main_content %}


{% block bottom_scripts %}
	{{ block.super }}
    <script>
		var formSiteBaseUrl = 'https://natura2000.eea.europa.eu/Natura2000/SDF.aspx?site=';
		$(document).ready(function() {
		// Elenco dei taxa, completi di rango (inserito in un optgroup tramite l'opzione ''"children": [...]' di Select2' )
			$('#select-specie').select2({
				placeholder: 'Digita il nome di una unità tassonomica',
				minimumInputLength: 3,
				ajax: {
					url: "{% url 'taxon' %}",
					dataType: "json",
					type: "GET",
					data: function (params) {
						var query = {
							q: params.term,
						}
						return query;
					},
				},
				language: {
					inputTooShort: function () {
						return "Digita il nome COMPLETO di una unità tassonomica";
  					}
				},
				placeholder: 'Digita il nome di una unità tassonomica',
				minimumInputLength: 2,
			});		
			$('#select-specie').on('select2:select',function(e){
				loadToggle(true);
				var data = e.params.data;
				$('#ultratable-container').css('visibility','');
				$('#table-title').remove();
				$('#table-container').prepend("<h3 id='table-title'>Dati per la specie <button type='button' class='btn btn-primary specieinfo'><em>" + 
				data.text + "</em></button> <button type='button' class='btn btn-primary specieinfo-eu'><em>"+data.text+"</em> (EU)</button></h3>");

				var url = "{% url 'observation-list' %}?rank=" + data.rank + "&taxon=" + data.text + "&format=datatables";				
				$('#ultratable').css('visibility','');
				if ( $.fn.DataTable.isDataTable( '#ultratable' ) ) {
					$('#ultratable').DataTable().clear().destroy();
				};
				$('#ultratable').DataTable({
					"ordering": false,
					'serverSide': true,
					"searching": false,
					//"paging": false,
					"orderCellsTop": true,
					"fixedHeader": true,
					"scrollX": true,
					"ajax": {
						"url": url,
					},
					"language": {
						"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json"
					},
					"columnDefs": [
						{
							targets: 0,
							render: function (data, type, row, meta)
							{
								data = (data !=null ? "<button class=' btn btn-primary siten2k-info'>" + data + "</button>" : '-');
								return data;
							}
						},
						{
							targets: 5,
							render: function (data, type, row, meta)
							{
								data = "<button class=' btn btn-primary dataorigin-info'>" + data + "</button>";
								return data;
							}
						},
						{
							targets: [1,2],
							render: function (data, type, row, meta)
							{
								data = "<em>" + data + "</em>";
								return data;
							}									
						}					
					],
					"fnDrawCallback": function(settings) {
						loadToggle(false);
					}											
				});
				//$('#ultratable_filter').parent().addClass('text-right');
			});			
		});

		$(document).on('click','.dataorigin-info',function(evt){
			evt.preventDefault();
			var dataName = $(this).html();
			var dataNameSafe = dataName.replace(/ /g,'_').toLowerCase();
			var dataUrl = "{% url 'dataorigins-list' %}?format=json&origin_name=" + dataName;
			$.ajax({
				method: "GET",
				url: dataUrl, 
				success: function(result) {
					result = result.results[0];
					var table = "<table class='table' id='datasetdetailtable class='" + dataNameSafe + "'><tbody>";
					var keys = Object.keys(result);
					for (var i = 0; i < keys.length; i++) {
						table = table + "<tr><td><strong>" + keys[i] + "</strong></td><td>" + result[keys[i]] + "</td></tr>"; 
					};
					table = table + "</tbody></table>";
					new bootModal("Dettaglio dataset <button type='button' class='btn btn-primary' id='datasetdetaildownload'><i class='fas fa-download'></i></button>",table).show();
					document.querySelector("#datasetdetaildownload").addEventListener("click", function () {
						var html = $("#datasetdetailtable." + dataNameSafe).html();
						export_table_to_csv(html, "biostream_datasetdetail.csv");
					});	
				}//,
				//error: function(result){
				//	new bootModal("Dettaglio dataset non trovato!","Si prega di contattare l'amministratore di sistema per segnalare il problema").show();
				//}
			});				
		});
    </script>
	
	<script>
		$('.main-body').on('click','button.specieinfo',function(evt){
			evt.preventDefault();
			var taxonName = $(this).text();
			var specUrl = "http://biostreamportal.net/taxonstats/" + taxonName;
			$.ajax({
				method: "GET",
				url: specUrl, 
				success: function(result) {
					$("#modal-specieinfo").html(result);
					$("#modal-specieinfo").modal('show');
				},
				error: function(result){
					$("#modal-specieinfo").html("<div class='error'><span><b> Nessuna risposta </b></span><p> Riprova più tardi </p></div>");
				}
			});			
		});	
	</script>

	<!-- Info da area N2K da formulario standard EU-->
	<script>
		$('.main-body').on('click','button.siten2k-info',function(evt){
			evt.preventDefault();
			var sito = $(this).html();
			new bootModal(`Sito Natura 2000 ${sito}`,`<iframe id="myFrame" src="${formSiteBaseUrl}${sito}" style="height:380px;width:100%"></iframe>`,"habitat_modal").show();
			$('.modal-content').resizable(
				{minWidth: 625,minHeight: 700,handles: 'e, w,s,n,ne,nw,se,sw'}
			).draggable(
				{handle: '.modal-header'}
			);
			$("[name='dynamiccustommodal']").css({
				"position": "fixed",
				"top": "50%",
				"left": "50%",
				"width": "625",
				"height": "700",
				"transform": "translate(-50%, -50%)",
				"padding": "0 !important"					
			}).removeClass('modal');
		});	
	</script>

	<!-- Info da specie EU-->
	<script>
		var baseSpecieEUurl = 'https://eunis.eea.europa.eu/species/';

		$('.main-body').on('click','button.specieinfo-eu',function(evt){
			evt.preventDefault();
			var specie = ($(this).html().split(' ('))[0].replace('<em>','').replace('</em>','');
			
			new bootModal(`Specie ${specie}`,`<iframe id="myFrame" src="${baseSpecieEUurl}${specie}" style="height:380px;width:100%"></iframe>`,"specie_modal").show();
			$('.modal-content').resizable(
				{minWidth: 625,minHeight: 700,handles: 'e, w,s,n,ne,nw,se,sw'}
			).draggable(
				{handle: '.modal-header'}
			);
			$("[name='dynamiccustommodal']").css({
				"position": "fixed",
				"top": "50%",
				"left": "50%",
				"width": "625",
				"height": "700",
				"transform": "translate(-50%, -50%)",
				"padding": "0 !important"					
			}).removeClass('modal');
		});	
	</script>
{% endblock bottom_scripts %}