{% extends 'table_base.html' %}


{% block main_menu %}
    {% include "_navbar.html" with active_link="servizi" %}
{% endblock main_menu %}

{% block main_content %}
<h1>Consultazione tabellare - aree protette</h1>
<div class="py-3">
    <select class="mid-selector" id="select-sic" name="state">
        <option></option>
    </select>
</div>
<div class="container" id="table-container">
<div class="row" id='ultratable-container' style="visibility:hidden;"> 
	<div class="col-sm-12 col-lg-12 col-md-12">
	<table id="ultratable" class="table table-striped" style="width:100%" data-server-side="true" >
		<thead>
		<tr>
			<th data-data="taxon">Specie</th>
			<th data-data="rank">Classe</th>
			<th data-data="habitatprotection">Dir. Habitat</th>
			<th data-data="dataorigin_institution_name">Istituzione</th>
			<th data-data="dataorigin_name">Dataset di origine</th>
			<th data-data="baseoss">Base osservazione</th>
			<th data-data="date_year">Anno</th>
			{% if user.is_staff %}
			<th data-data="date_day">Giorno</th>
			<th data-data="date_month">Mese</th>
			<th data-data="time">Ora</th>
			<th data-data="sampling_method">Metodo di campionamento</th>
			<th data-data="sampling_precision">Precisione del metodo di campionamento</th>
			<th data-data="coord_precision">Precisione nella localizzazione</th>
			<th data-data="latitude_wgs84">Latitudine (WGS84)</th>
			<th data-data="longitude_wgs84">Longitudine (WGS84)</th>
			{% endif %}
		</tr>
		</thead>
	</table>
	</div>
</div>
</div>
{% endblock main_content %}


{% block bottom_scripts %}
	{{ block.super }}

    <script>
		var formSiteBaseUrl = 'https://natura2000.eea.europa.eu/Natura2000/SDF.aspx?site=';
		var select_sic_zps = [{% for sic_zps in sic_zps %}{id: {{forloop.counter}},text: "{{sic_zps.code|safe}} - {{sic_zps.name|safe}}"}{%if forloop.last %}{%else%},{% endif %}{% endfor %}];
		$(document).ready(function() {
			$('#select-sic').select2({
				placeholder: "Cerca nome o codice di un'area protetta...",
				language: 'it',
				data: select_sic_zps,
				allowClear: true
			});
			$('#select-sic').on('select2:select',function(e){
				loadToggle(true);
				var data = e.params.data;
				$('#ultratable-container').css('visibility','');
				$('#table-title').remove();
				var code = (data.text.split(' - '))[0];
				$('#table-container').prepend("<h3 id='table-title'>Dati per l'area <button class='btn btn-primary siten2k-info' id='"+ code + "'>"+ data.text + "</button></h3>");
				var url = "{% url 'observation-list' %}?protectedarea_code=" + code + "&format=datatables";
				var urlDetail = "{% url 'aree-protette-check-list' %}?code=" + code;
				fetch(urlDetail)
				.then(function (response) { return response.text(); })
				.then(function (json) {
					json = JSON.parse(json).results[0];
					$(`<div id="siteInfo"><h5><strong>Regione biogeografica</strong>: ${json.biogeographic_region} </h5><h5><strong>Regione amministrativa</strong>: ${json.administrative_region} </h5> <p class="collapseButtons"> <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseSpecie" role="button" aria-expanded="false" aria-controls="collapseSpecie">
					Specie</a> <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseHabitat" role="button" aria-expanded="false" aria-controls="collapseHabitat">
					Habitat</a></p>
					<div class="collapse" id="collapseSpecie" style="max-height: 5em;overflow-y:auto;"><div class="card card-body">
					<h6><em>${json.specie}</em></h6>
					</div></div>
					</br>
					<div class="collapse" id="collapseHabitat"><div class="card card-body">
					<h6><p class="habitat-list">${(json.habitat=='' ? 'Nessun habitat Natura2000' : json.habitat) }</p></h6>
					</div></div>
					</div>
					`).insertAfter('#table-title');
				});

				$('#ultratable').css('visibility','');
				if ( $.fn.DataTable.isDataTable( '#ultratable' ) ) {
					$('#ultratable').DataTable().clear().destroy();
					$('#siteInfo').remove();
				};
				$('#ultratable').DataTable({
					"ordering": false,
					'serverSide': true,
					"searching": false,
					//"paging": false,
					"orderCellsTop": true,
					"fixedHeader": true,
					"scrollX": true,
					"ajax": {
						"url": url,
					},
					"language": {
						"url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json"
					},
					"columnDefs": [
						{
							targets: 4,
							render: function (data, type, row, meta)
							{
								data = "<button class=' btn btn-primary dataorigin-info'>" + data + "</a>";
								return data;
							}
						},
						{
							targets: [0,1],
							render: function (data, type, row, meta)
							{
								data = "<em>" + data + "</em>";
								return data;
							}									
						}					
					],
					"fnDrawCallback": function(settings) {
						loadToggle(false);
					}											
				});
			});
        });

		$(document).on('click','.dataorigin-info',function(evt){
			evt.preventDefault();
			var dataName = $(this).html();
			var dataNameSafe = dataName.replace(/ /g,'_').toLowerCase();
			var dataUrl = "{% url 'dataorigins-list' %}?format=json&origin_name=" + dataName;
			$.ajax({
				method: "GET",
				url: dataUrl, 
				success: function(result) {
					result = result.results[0];
					var table = "<table class='table' id='datasetdetailtable class='" + dataNameSafe + "'><tbody>";
					var keys = Object.keys(result);
					for (var i = 0; i < keys.length; i++) {
						table = table + "<tr><td><strong>" + keys[i] + "</strong></td><td>" + result[keys[i]] + "</td></tr>"; 
					};
					table = table + "</tbody></table>";
					new bootModal("Dettaglio dataset <button type='button' class='btn btn-primary' id='datasetdetaildownload'><i class='fas fa-download'></i></button>",table).show();
					document.querySelector("#datasetdetaildownload").addEventListener("click", function () {
						var html = $("#datasetdetailtable." + dataNameSafe).html();
						export_table_to_csv(html, "biostream_datasetdetail.csv");
					});	
				}//,
				//error: function(result){
				//	new bootModal("Dettaglio dataset non trovato!","Si prega di contattare l'amministratore di sistema per segnalare il problema").show();
				//}
			});				
		});
		
    </script>

	<script>
		$('.main-body').on('click','button.specieinfo',function(evt){
			evt.preventDefault();
			var taxonName = $(this).text();
			var specUrl = "http://biostreamportal.net/taxonstats/" + taxonName;
			$.ajax({
				method: "GET",
				url: specUrl, 
				success: function(result) {
					$("#modal-specieinfo").html(result);
					$("#modal-specieinfo").modal('show');
				},
				error: function(result){
					$("#modal-specieinfo").html("<div class='error'><span><b> Nessuna risposta </b></span><p> Riprova più tardi </p></div>");
				}
			});			
		});	
	</script>

	<!-- Info da area N2K da formulario standard EU-->
	<script>
		$('.main-body').on('click','button.siten2k-info',function(evt){
			evt.preventDefault();
			var sito = $(this).attr('id');			
			new bootModal(`Sito Natura 2000 ${sito}`,`<iframe id="myFrame" src="${formSiteBaseUrl}${sito}" style="height:380px;width:100%"></iframe>`,"habitat_modal").show();
			$('.modal-content').resizable(
				{minWidth: 625,minHeight: 700,handles: 'e, w,s,n,ne,nw,se,sw'}
			).draggable(
				{handle: '.modal-header'}
			);
			$("[name='dynamiccustommodal']").css({
				"position": "fixed",
				"top": "50%",
				"left": "50%",
				"width": "625",
				"height": "700",
				"transform": "translate(-50%, -50%)",
				"padding": "0 !important"					
			}).removeClass('modal');
		});	
	</script>
{% endblock bottom_scripts %}

