{% load static %}

<div class="it-header-navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg"> <!-- has-megamenu"> --> 
                    <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false" aria-label="Navigazione" data-bs-toggle="collapse" data-bs-target="#nav10">
                        <svg class="icon">
                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#it-burger"></use>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapsable" id="nav10">
                        <div class="overlay"></div>
                        <div class="close-div sr-only">
                            <button class="btn close-menu" type="button"><span class="it-close"></span>close</button>
                        </div>
                        <div class="menu-wrapper">
                            <ul class="navbar-nav">
								<li class="nav-item {% if active_link == "home" %}active{% endif %}"><a class="nav-link {% if active_link == "home" %}active{% endif %}" href="{% url 'home' %}"><span>Home <i class="fa fa-home" aria-hidden="true"></i></span></a></li>
								<li class="nav-item {% if active_link == "gis" %}active{% endif %}"><a class="nav-link {% if active_link == "gis" %}active{% endif %}" href="{% url 'gis' %}"><span>WebGIS <i class="fa fa-search" aria-hidden="true"></i></span></a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if active_link == "servizi" %}active{% endif %}" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span>Servizi <i class="fa fa-tools" aria-hidden="true"></i></span>
                                        <svg class="icon icon-xs">
                                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#it-expand"></use>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="link-list-wrapper">
                                            <ul class="link-list">
                                                <li>
                                                    <h3 class="no_toc" id="heading">GIS</h3>
                                                </li>
                                                <li><a class="list-item" href="{% url 'checklist' %}"><span>Checklist</span></a></li>
                                                <li><a class="list-item" href="{% url 'table-specie' %}"><span>Dettaglio specie</span></a></li>
                                                <li><a class="list-item" href="{% url 'table-sic' %}"><span>Dettaglio siti</span></a></li>                                                
                                                <li>
                                                    <h3 class="no_toc" id="heading">DATI</h3>
                                                </li>
                                                <li><a class="list-item" href="{% url 'datarequests-list'%}"><span>Richieste dati</span></a></li>
                                                {% if user.is_superuser %}
                                                <li><a class="list-item" href="{% url 'taxon-nonmatch'%}"><span>Match tassonomico</span></a></li>
                                                {% endif %}
                                                <li><a class="list-item" href="/api"><span>API</span></a></li>

                                                <li>
                                                    <h3 class="no_toc" id="heading">CATALOGHI</h3>
                                                </li>
                                                <li><a class="list-item" href="{% url 'catalogo' %}"><span>Dataset</span></a></li>
                                                <li><a class="list-item" href="{% url 'specie-catalog' %}"><span>Specie</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if active_link == "documentation" %}active{% endif %}" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span>Documentazione <i class="fa fa-file-word-o" aria-hidden="true"></i></span>
                                        <svg class="icon icon-xs">
                                            <use xlink:href="{% static 'images/svg/sprite.svg' %}#it-expand"></use>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="link-list-wrapper">
                                            <ul class="link-list">
                                                <li><a class="list-item" href="{% url 'documentation_base' %}"><span>Base</span></a></li>
                                                <li><a class="list-item" href="{% url 'documentation_gis' %}"><span>GIS</span></a></li>
                                                <li><a class="list-item" href="{% url 'documentation_checklist' %}"><span>Checklist</span></a></li>
                                                <li><a class="list-item" href="{% url 'documentation_datarequest' %}"><span>Richieste dati</span></a></li>
                                                {% if perms.authtools.can_change_users %}
                                                <li><a class="list-item" href="{% url 'documentation_usermanager' %}"><span>Gestione utenti</span></a></li>
                                                {%endif%}
                                                {% if user.is_staff %}
                                                <li><a class="list-item" href="{% url 'docs_root' %}"><span><em>Sysadmin</em></span></a></li>
                                                {%endif%}
                                            </ul>
                                        </div>
                                    </div>
                                </li>                                                        
								<li class="nav-item {% if active_link == "statuspage" %}active{% endif %}"><a class="nav-link {% if active_link == "statuspage" %}active{% endif %}" href="{% url 'statuspage' %}"><span><em>Status</em> sistema <i class="fa fa-check" aria-hidden="true"></i></span></a></li>
                                <li class="nav-item dropdown">
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>