{% extends 'bootstrap-italia-base.html' %}

<!-- From app django-sass-processor -->
{% load sass_tags %}

{% load static %}
{% load static %}
{% load thumbnail %}

{% block extra_head %}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<link rel="stylesheet" href="{% static 'site/css/main.css' %}">
<link rel="stylesheet" href="{% static 'site/css/loader.css'%}" />
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" />
<script src="https://browser.sentry-cdn.com/5.11.1/bundle.min.js" integrity="sha384-r7/ZcDRYpWjCNXLUKk3iuyyyEcDJ+o+3M5CqXP5GUGODYbolXewNHAZLYSJ3ZHcV" crossorigin="anonymous">
</script>
<script>
Sentry.init({ dsn: 'https://5003d94eb4c2490ea0935b45b33b6613@sentry.io/1896862' });
</script>

{% endblock extra_head %}

<!-- Page Title -->
{% block page_title %}
Progetto BioSTREAM
{% endblock page_title %}

<!-- EMpty block for languages -->
{% block header_slim_sub_menu %}
{% endblock header_slim_sub_menu %}

<!-- URL link top left -->
{% block header_slim_org_url %}
https://biostreamportal.net
{% endblock header_slim_org_url %}

<!-- Name top left -->
{% block header_slim_org_name %}
Progetto BioSTREAM
{% endblock header_slim_org_name %}

{% block header_slim_buttons %}
<div class="it-access-top-wrapper">
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle profile-menu" data-bs-toggle="dropdown">
                <span class="profile-name-navbar">{{ user.get_full_name|truncatechars:20 }} </span>
                <img src="{% thumbnail user.profile.picture|default:'default_profile.png' 30x30 crop %}" alt="" />        
		    </a>
		    <ul class="dropdown-menu user-menu" role="menu">
                    {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}                
                    <li><a href="{% url 'profiles:show_self' %}">Profilo</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                  </ul>
                </li>
            </ul>
        </ul>
    {% else %}
    <a href="{% url 'accounts:login' %}"><button class="btn btn-primary btn-sm" type="button">Login</button></a>
    <a href="{% url 'accounts:signup' %}"><button class="btn btn-primary btn-sm" type="button">Registrati</button></a>
    {% endif %}
</div>
{% endblock header_slim_buttons %}

<!-- Mobile slim_org_name -->
{% block header_slim_mobile_org_name %}
Progetto BioSTREAM
{% endblock header_slim_mobile_org_name %}

<!-- Make empty areas -->
{% block header_mobile_arrow %}{% endblock header_mobile_arrow %}
{% block header_mobile_slim_menu %}{% endblock header_mobile_slim_menu %}

<!-- Logo in Header -->
{% block header_center_logo %}
<img style="height: 4.5em" src="{{MEDIA_URL}}loghi/banner_biostream_low.png" class="img-thumbnail mt-3" />
{% endblock header_center_logo %}

<!-- No upper social -->
{% block header_center_social %}
{% endblock header_center_social %}

<!-- No search -->
{% block header_center_search %}
{% endblock header_center_search %}


<!-- Organization name in Header -->
{% block header_center_org_name %}
{% endblock header_center_org_name %}

<!-- Organization description in Header -->
{% block header_center_org_subname %}
<!--BIO System for Transmission and Retrieval of Environmental Data and Attributes-->
{% endblock header_center_org_subname %}


<!--
-----------------
	MAIN MENU
-----------------
-->
{% block main_menu %}
{% endblock main_menu %}

<!--
---------------
	FOOTER 
---------------
-->

<!-- Logo in Footer -->
{% block footer_logo %}
<img class="icon" src="{{ MEDIA_URL }}loghi/fondazione_unesco.png" />
{% endblock footer_logo %}

<!-- Organization name in Footer -->
{% block footer_org_name %}
Progetto BioSTREAM
{% endblock footer_org_name %}

<!-- Organization name in Footer -->
{% block footer_org_subname %}
{% endblock footer_org_subname %}

{% block centered_container %}
<!-- Loader -->
<div id="overlay">
  <div class="lds-dual-ring"></div>
</div>
{% endblock %}

{% block first_column %}
<div class="col-lg-3 col-md-3 col-sm-6 pb-2">
    <h4>
        <a href="#" title="Vai alla pagina: Organizzazione">Organizzazione</a>
    </h4>
    <div class="link-list-wrapper">
        <ul class="footer-list link-list clearfix">
            <li><a class="list-item" href="{% url 'intro' %}" title="Vai alla pagina: Introduzione">Introduzione</a></li>
            <li><a class="list-item" href="{% url 'organization' %}" title="Vai alla pagina: Organizzazione">Organizzazione</a></li>
            <li><a class="list-item" href="{% url 'docs' %}" title="Vai alla pagina: Documenti">Documenti</a></li>
        </ul>
    </div>
</div>
{% endblock first_column %}
{% block second_column %}
<div class="col-lg-3 col-md-3 col-sm-6 pb-2">
    <h4>
        <a href="#" title="Vai alla pagina: Servizi">Servizi</a>
    </h4>
    <div class="link-list-wrapper">
        <ul class="footer-list link-list clearfix">
            <li><a class="list-item" href="{% url 'gis' %}" title="Vai alla pagina: GIS">GIS</a></li>
            <li><a class="list-item" href="{% url 'checklist'%}" title="Vai alla pagina: Checklist">Checklist</a></li>
            <li><a class="list-item" href="{% url 'catalogo' %}" title="Vai alla pagina: Catalogo ricorse">Dati di origine</a></li>
        </ul>
    </div>
</div>
{% endblock second_column %}
{% block third_column %}
{% endblock third_column %}
{% block fourth_column %}
<div class="col-lg-3 col-md-3 col-sm-6 pb-2">
    <h4>
        <a href="#" title="Vai alla pagina: Documenti">Documenti</a>
    </h4>
    <div class="link-list-wrapper">
        <ul class="footer-list link-list clearfix">
            <li><a class="list-item" href="{% url 'documentation_base' %}" title="Vai alla pagina: Guide">Guide</a></li>
        </ul>
    </div>
</div>
{% endblock fourth_column %}
{% block footer_contacts_section %}
<section class="py-4 border-white border-top">
    <div class="row">
        <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="mailto:info@dolomitiunesco.info" title="Scrivi alla Fondazione">Contatti</a></h4>
            <p>
                <strong>Fondazione Dolomiti UNESCO</strong><br> Corso Italia, 77 - 32043 Cortina d'Ampezzo (BL)<br>
                C.F. 93044760259 <br>P.IVA 01111150254
            </p>
        </div>
        <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="mailto:info@dolomitiunesco.info" title="Scrivi alla Fondazione">Supporto tecnico</a></h4>
            <p>
                <strong>biostreamportal@gmail.com</strong>
            </p>
        </div>
        <div class="col-lg-4 col-md-4 pb-2">
            <div class="pb-2">
                <h4><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h4>
                <ul class="list-inline text-left social">
                    <li class="list-inline-item">
                        <a class="p-2 text-white" href="https://it-it.facebook.com/DolomitesUNESCO/" target="_blank">
                            <svg class="icon icon-sm icon-white align-top">
                                <use xlink:href="{% static 'images/svg/sprite.svg' %}#it-facebook"></use>
                            </svg><span class="sr-only">Facebook</span>
                        </a>
                    </li>                    
                </ul>
            </div>
            <div class="pb-2">
            </div>
        </div>
    </div>
</section>
{% endblock footer_contacts_section %}
{% block footer_bottom_content %}
<!--<h3 class="sr-only">Sezione Link Utili</h3>
<ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
    <li class="list-inline-item disabled"><a href="#" title="Note Legali">Note legali</a></li>
    <li class="list-inline-item disabled"><a href="#" title="Privacy-Cookies">Privacy policy</a></li>
</ul> -->
{% endblock footer_bottom_content %}

{% block bottom_scripts %}
    {{ block.super }}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- Loader -->
    <script>
    	var loadToggle = function(start) {
		if(start===true) {
			document.getElementById("overlay").style.display = "block";		
		} else {
			document.getElementById("overlay").style.display = "none";			
		}
	};
    </script> 
    <!-- Modal creator -->
    <script>
		var bootModal = function (title, body,not_backdrop) {
			var title = title || "Lorem Ipsum Titolo", body = body || "Lorem Ipsum Corpo", buttons = buttons || [{ Value: "Chiudi", Css: "btn-primary", callback: function (event) { bootModal.close(); } }];
			var getModalStructure = function () {
                var that = this;
                if( typeof id === 'undefined') {
                    that.id = bootModal.id = Math.random();
                } else that.id = id;
				var buttonshtml = "";
				for (var i = 0; i < buttons.length; i++) {
					buttonshtml += "<button type='button' class='btn " + (buttons[i].Css||"") + "' name='btn" + that.id + "'>" + (buttons[i].Value||"Chiudi") + "</button>";
				}
				return "<div class='modal fade' name='dynamiccustommodal' id='" + that.id + "' tabindex='-1' role='dialog' data-backdrop=" + ((typeof not_backdrop != 'undefined') ? false : "'static'") + " data-keyboard='false' aria-labelledby='" + that.id + "Label'><div class='modal-dialog modal-lg'><div class='modal-content'><div class='modal-header'><h4 class='modal-title'>" + title + "</h4><button type='button' class='close modal-white-close' onclick='bootModal.close()'><span aria-hidden='true'>&times;</span></button></div><div class='modal-body'><div class='row'><div class='col-xs-12 col-md-12 col-sm-12 col-lg-12'>" + body + "</div></div></div><div class='modal-footer bg-default'><div class='col-xs-12 col-sm-12 col-lg-12'>" + buttonshtml + "</div></div></div></div></div>";
			}();
			bootModal.delete = function () {
				var modals = document.getElementsByName("dynamiccustommodal");
				if (modals.length > 0) document.body.removeChild(modals[0]);
			};
			bootModal.close = function () {
				$(document.getElementById(bootModal.id)).modal('hide');
				bootModal.delete();
			};    
			this.show = function () {
				bootModal.delete();
				document.body.appendChild($(getModalStructure)[0]);
				var btns = document.querySelectorAll("button[name='btn" + bootModal.id + "']");
				for (var i = 0; i < btns.length; i++) {
					btns[i].addEventListener("click", buttons[i].callback || bootModal.close);
				}
				$(document.getElementById(bootModal.id)).modal('show');
			};
		};
    </script>
    <!-- Exports -->
    <script>
		function download_csv(csv, filename) {
			var csvFile;
			var downloadLink;
			csvFile = new Blob([csv], {type: "text/csv"});
			downloadLink = document.createElement("a");
			downloadLink.download = filename;
			downloadLink.href = window.URL.createObjectURL(csvFile);
			downloadLink.style.display = "none";
			document.body.appendChild(downloadLink);
			downloadLink.click();
		}

		function export_table_to_csv(html, filename) {
			var csv = [];
			var rows = document.querySelectorAll("table tr");
			
			for (var i = 0; i < rows.length; i++) {
				var row = [], cols = rows[i].querySelectorAll("td, th");	
				for (var j = 0; j < cols.length; j++) 
					row.push(cols[j].innerText);
				csv.push(row.join(","));		
			}
			download_csv(csv.join("\n"), filename);
		}

    	var loadToggle = function(start) {
			if(start===true) {
				document.getElementById("overlay").style.display = "block";		
			} else {
				document.getElementById("overlay").style.display = "none";			
			}
		};
    </script>
{% endblock bottom_scripts %}