{% extends 'base_nologo.html' %}

{% load static %}
<!--
-----------------
	MAIN MENU
-----------------
-->
{% block extra_head %}
	{{ block.super }}
	<style>
	.mid-selector {
		width: 40%;
	}

	.full-selector {
		width: 95%;
	}	
	</style>
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock extra_head %}

{% block main_menu %}
	{% include "_navbar.html" with active_link='catalogo' %}
{% endblock main_menu %}

{% block centered_container %}
<!-- Loader -->
<div id="overlay">
  <div class="lds-dual-ring"></div>
</div>

{% block main_content %}
<h1>Catalogo dataset</h1>
<div class="container" id="table-container">
<div class="row" id='ultratable-container'> 
	<div class="col-sm-12 col-lg-12 col-md-12">
	<table id="ultratable" class="table table-striped" style="width:100%" data-server-side="true" >
		<thead>
		<tr>
			<th data-data="id">ID</th>
			<th data-data="dataorigin_uuid">UUID</th>
			<!--<th data-data="origin_name">Nome dataset originale</th>-->
			<th data-data="institution_region">Regione Fornitore</th>
			<th data-data="institution_province">Provincia Fornitore</th>
			<th data-data="institution_name">Nome Fornitore</th>
			<th data-data="what">Descrizione</th>
			<th data-data="which">Contenuto</th>
			<th data-data="species_count">Numero specie</th>
			<!--<th data-data="species_list">Lista specie</th> -->
			<th data-data="obs_count">Numero osservazioni</th>
			<th data-data="cartounit">Unità cartografica</th>
            {% if user.is_staff %}
			<!--<th data-data="where">Localizzazione in server istituzione</th> -->
			<th data-data="when">Anno</th>
			<th data-data="reference">Riferimento</th>
			<th data-data="validated">Validato?</th>
			<th data-data="unmasked">Demascherato?</th>
            {% endif %}
		</tr>
		</thead>
	</table>
	</div>
</div>
</div>
{% endblock main_content %}

{% endblock centered_container %}


{% block bottom_scripts %}
	{{ block.super }}
	<!-- Loader -->
	<script>
		document.getElementById("overlay").style.display = "block";
		$(document).ready(function() {
			document.getElementById("overlay").style.display = "none";
		});
	</script>	
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>	
	<script>
		var url = "{% url 'dataorigins-list' %}?format=datatables";
        $('#ultratable').DataTable({
			"pageLength": 5,
            'serverSide': true,
            "ordering": false,
            "orderCellsTop": true,
            "fixedHeader": true,
            "scrollX": true,
            "ajax": {
                "url": url,
            },
            "columnDefs": [
                {
					{% if user.is_staff %}
                    targets: [0,7,8,9],
					{% else%}
                    targets: [0,1,7,8,9],
					{%endif%}
                    searchable: false,
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json"
            }
        });
        $('#ultratable_filter').parent().addClass('text-right');
		$('#ultratable-container').append("<div class='row catalogdownloadtablerow'><div class='col-sm-12 col-md-12 text-center'><button type='button' class='btn btn-primary catalogdownloadtable'><i class='fas fa-download'></i></button></div></div>");

		// Table download
		var downloadUrl = $('#ultratable').DataTable().ajax.url().replace('datatables','csv&no_page');
		var fileName = 'biostream_catalogo_dataset.csv';
		$('body').on('click','button.catalogdownloadtable',function(evt){
			evt.preventDefault();
			fetch(downloadUrl)
			.then(resp => resp.blob())
			.then(blob => {
				const url = window.URL.createObjectURL(blob);
				const a = document.createElement('a');
				a.style.display = 'none';
				a.href = url;
				a.download = fileName;
				document.body.appendChild(a);
				a.click();
				window.URL.revokeObjectURL(url);
			}).catch(() => alert('File non scaricato!'));												
		});
    </script>
{% endblock bottom_scripts %}