{% extends 'base.html' %}

{% load static %}

{% block main_menu %}
	{% include "_navbar.html"%}
{% endblock main_menu %}

{% block centered_container %}

<h1>Documenti</h1>

<h3>Guide e risorse utili</h3>
Finalizzate tutte le funzionalità del portale, verrà pubblicato in questa pagina il manuale operativo. Altre risorse per facilitare  la consultazione della BioBD <voce di glossario> sono:
<ul>
<li>Il progetto QGIS (vers. 3.8 o superiore) in sola lettura che verrà reso presto disponibile, caricherà in automatico le risorse specie-specifiche, in particolare i <a href="" data-tooltip="Risorsa che contiene informazioni geografiche visualizzabili sul Portale: possono essere punti di presenza di una specie, aree, immagini satellitari, etc…" class="glossaryhover">layer</a> di sfondo utilizzati dal Portale e le griglie ricampionate su maglia chilometrica;</li>
<li>il <a href="http://geoserver.org" data-tooltip="Software open source per la gestione e l’esposizione verso sistemi GIS vari di layer geografici" class="glossaryhover">GeoServer</a>, che espone all’esterno servizi WMS/WFS <voce di glossario, link wiki> dei vari layer utilizzati dal portale: per utenti non autenticati sono in particolare messi a disposizione sfondi e grigliati chilometrici attraverso una richiesta WMS/WFS parametrizzata, nel formato:
<code>http://biostreamportal.net/geoserver/wfs?service=wfs&
version=1.1.0&request=GetFeatures&layers=biostream_main:specie_grid&viewparams=RESOLUTION:10;SPECIE:Hirundo rustica</code></li>
</ul>
Come si vede dall’esempio di cui sopra, la <a href="" data-tooltip="Acronimo di Uniform Resource Locator: l’indirizzo di una qualsiasi risorsa presente sul web, sia questa un sito o un servizio
" class="glossaryhover">URL</a> accetta in input i due parametri:
<ul>
<li><code>RESOLUTION</code>, risoluzione chilometrica desiderata della griglia (1, 5, 10,100: per specie particolarmente sensibili, tale scelta è limitata alle griglie 10 e 100);</li>
<li><code>SPECIE</code>, <em>taxon</em> (nome latino) per il quale si richiedono i dati. Alla presente versione, il portale accetta in input solo nomi presenti nel campo taxon dello <a href="{{MEDIA_URL}}standard_inserimento_biostream.pdf">Standard di Inserimento Dati</a>: una prossima iterazione del portale consentirà di interrogare layer raggruppati per qualsiasi livello tassonomico (genere, famiglia, ...).</li>
</ul>   
Per verificare rapidamente per quali <em>taxa</em> è disponibile almeno un dato di presenza, si faccia riferimento alla pagina della <a href="http://biostreamportal.net/api/species" data-tooltip="Acronimo di Application Programming Interface: una interfaccia in grado di esporre tramite protocolli e formati standard delle risorse (nel caso del portale, e.g. localizzazioni e attributi di un dataset specie-specifico), in genere provenienti da una banca dati
" class="glossaryhover">API</a>.


<h3>Standard</h3>
Il Progetto BioSTREAM ha come principale obiettivo la mobilizzazione e l’interscambio di fonti di dati specie-specifiche: per facilitare tale scopo, in particolare per permettere ai Gestori (le Regioni, si veda come riferimento il <a href="{{MEDIA_URL}}docs/biostream_documento_progetto.pdf">Documento di Progetto</a>) di raccogliere entro una banca dati centralizzata tutti i dataset che intendono attivare per la condivisione, è stato introdotto uno <a href="{{MEDIA_URL}}standard_inserimento_biostream.pdf">Standard di Inserimento Dati</a>, ovvero, una serie di regole di formattazione dei campi dei vari censimenti.  Tale standard è in continuo aggiornamento ed espansione (in particolare dei vocabolari controllati <voce di glossario>): il link di cui sopra ne riporta l’ultima iterazione valida.

<h3>Accordi</h3>
Le modalità di fornitura, condivisione, gestione e utilizzo dei dati gestiti nel progetto BioSTREAM sono disciplinati da accordi tra i Fornitori ed il Gestore, in modo da garantire la massima diffusione dei dati, ma anche di tutelare le prerogative di proprietà e di sensibilità. Gli accordi definiscono: <ol><li> le finalità e il funzionamento della Bio-DB; </li><li>la proprietà, le modalità di validazione e le forme di utilizzo dei dati.</li></ol>
A <a href="{{MEDIA_URL}}docs/modello_di_accordo.doc">questo link</a> è disponibile un modello di accordo.



{% endblock centered_container %}
