{% extends 'base.html' %}
{% load static %}

{% block main_menu %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock main_menu %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'site/css/ol.css'%}" />
	<link rel="stylesheet" href="{% static 'site/css/gis.css'%}" />

{% endblock extra_head %}


{% block centered_container %}
    {{ block.super }}
<div class="row">
<h4><span id="n_obs"> </span> osservazioni, <span id="n_spec"> </span> specie, <span id="n_dat"> </span> dataset, <span id="n_part"> </span> partecipanti</h4>
</div>
<div class="row col-12">
    <h1>Dati in Rete per la Biodiversità</h1>
	<div id="map" class="map" crossOrigin = "Anonymous"></div>
</div>

<div class="row">
    <p>Prendendo spunto dall'esperienza tecnica ed organizzativa maturata durante lo svolgimento dell'Azione A1 del progetto LIFE+T.E.N. in Trentino, il Progetto mira a mobilizzare e condividere le informazioni riguardo la Biodiversità, creando una banca dati ("Bio-BD") unitaria tra Enti, Amministrazioni ed Associazioni aderenti di specie -protette e non- faunistiche e floristiche.</p>
    <p>Il sistema supporta l'estrazione, la visualizzazione e l'analisi dei dati georiferiti, ricalibrando la visualizzazione in base ai permessi dell'utente ed alla delicatezza della specie considerata, soppesando la libertà di consultazione dell'utente con la necessità di protezione degli habitat naturali.</p>
    <p>Il software è licenziato sotto la Creative Commons <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-NC-4.0</a>: la proprietà dei dati è invece attribuita dataset per dataset in base agli accordi stipulati con Enti, Amministrazioni ed Associazioni, sforzandosi comunque il Progetto di garantire una condivisione quanto più dettagliata ed aperta possibile.</p>
</div>

<div class="row mt-5">
    <div class="col-4 bd-content text-center">
        <h3> WebGIS </h3>
        <a href="{% url 'gis' %}"><img class="img-fluid img-thumbnail" style="max-width:100%" src="{{MEDIA_URL}}banners/example_webgis.png" alt="Immagine del WebGIS"></a>
    </div>
    <div class="col-4 bd-content text-center">
        <h3> Catalogo Dati</h3>
        <a href="{% url 'catalogo' %}"><img class="img-fluid img-thumbnail" style="max-width:100%" src="{{MEDIA_URL}}banners/example_geoserver.png" alt="Immagine del Catalogo"></a>
    </div>
    <div class="col-4 bd-content text-center">
        <h3> Consultazione di dettaglio</h3>
        <a href="{% url 'table-specie' %}"><img class="img-fluid img-thumbnail" style="max-width:100%" src="{{MEDIA_URL}}banners/example_data.png" alt="Immagine del WebGIS"></a>

    </div>
</div>

{% endblock %}

{% block bottom_scripts %}
    {{ block.super }}
	<script src="{% static 'site/js/ol.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js"></script>   
	<script>
		loadToggle(true);
		$(document).ready(function() {
			loadToggle(false);
		});
	</script>
    <!-- Animation for shown metrics -->
    <script>


        function animateValue(id, start, end, duration) {
            var obj = document.getElementById(id);
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min((timestamp - startTimestamp) / duration, 1);
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        animateValue("n_obs", 0, {{ n_obs }}, 6000);    
        animateValue("n_spec", 0, {{ n_species }}, 6000);    
        animateValue("n_dat", 0, {{ n_dat }}, 6000);    
        animateValue("n_part", 0, {{ n_part }}, 6000);    

    </script>
    <!-- Here's the map -->
    <script>
        function colorWithAlpha(color, alpha) {
            const [r, g, b] = Array.from(ol.color.asArray(color));
            return ol.color.asString([r, g, b, alpha]);
        };  
        const min = 1;
        const max = 2500;
        const steps = 10;
        const colors = ["#ffe800","#ffd100","#ffb900","#ffa200","#ff8b00","#ff7400","#ff5d00","#ff4600","#ff2e00","#ff1700"];

        function clamp(value, low, high) {
            return Math.max(low, Math.min(value, high));
        };

        function getColor(feature,prop) {
            const props = feature.getProperties();
            const n = props[prop];
            const f = Math.pow(clamp((n - min) / (max - min), 0, 1), 1 / 2);
            const index = Math.round(f * (steps - 1));
            
            return colorWithAlpha(colors[index],0.7);
        };

		function getJson(url) {
			return JSON.parse($.ajax({
				type: 'GET',
				url: url,
				dataType: 'json',
				global: false,
				async: false,
				success: function (data) {
					return data;	
				}
			}).responseText);
		};
		var loadGeoJSONVectorSource = function(url) {
			return new ol.source.Vector({
                attributions: ['Densità di osservazioni per quadrante <i style="color:yellow" class="fas fa-square"> </i>Poche <i style="color:red" class="fas fa-square"></i> Molte'],                
				loader: function () {
				$.ajax({
					type: 'GET',
					url: url,
					context: this
				}).done(function (response) {
					response = response.results;
					var format = new ol.format.GeoJSON();
					this.addFeatures(format.readFeatures(response,
					{
						dataProjection: mainProjection,
						featureProjection: mainProjection
					}))
				});
				},
				crossOrigin: 'anonymous'
			});
		};
        function getFeatureStyle(feature) {
            return new ol.style.Style({
                fill: new ol.style.Fill({
                    color: getColor(feature,"obs_count")
                }),
                stroke: new ol.style.Stroke({
                    color: 'white',
                    width: 1
                })
            })
        };
		var createBoxSpeciesVectorLayer = function(url,type) {
			var vectorSource = loadGeoJSONVectorSource(url);
			return new ol.layer.Vector({
				title: type,
				name: type,
				geotype: 'grid',
				layerkind: 'species-grid',
				source: vectorSource,
				style:	getFeatureStyle
			});			
		};
              
		proj4.defs('EPSG:3035',
		'+proj=laea +lat_0=52 +lon_0=10 +x_0=4321000 +y_0=3210000 +ellps=GRS80 +units=m +no_defs ');
		ol.proj.proj4.register(proj4);
		const mainProjection = ol.proj.get('EPSG:3035');

        var sat = new ol.layer.Tile({
            title: "Satellite",
            baseLayer: true,
            visible: true,
            allwaysOnTop: true,
            noSwitcherDelete: true,
            source: new ol.source.XYZ({
                url: 'https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
                maxZoom: 23,
                crossOrigin: 'anonymous'
            })
        });
        var unesco = new ol.layer.Tile({
            title: "Dolomiti UNESCO",
            allwaysOnTop: true,
            noSwitcherDelete: true,
            visible: true,
            queryable: false,
            layerkind: 'tile-wms',
            source: new ol.source.TileWMS({
                url: 'https://biostreamportal.net/geoserver/biostream_main/wms',
                params: {
                    'FORMAT': "image/png", 
                    'VERSION': '1.1.1',
                    tiled: true,
                    "LAYERS": 'biostream_main:alps_dolomites_area',
                    "exceptions": 'application/vnd.ogc.se_inimage',
                    tilesOrigin: 4384887.99230349 + "," + 2552980.55028106,
                    crossOrigin: 'anonymous'
                }
            })
        });
        const specieCount = createBoxSpeciesVectorLayer("{% url 'observation-summary-list' %}?res=10&format=json&limit=10000",'n_obs',10);  
        const unescoLonLat = [12.1342377, 46.5377684];
        var map = new ol.Map({
            target: 'map',
            view: new ol.View({
                zoom: 8,
                center: ol.proj.transform(unescoLonLat, 'EPSG:4326', 'EPSG:3035'),
                projection: mainProjection
            }),
            layers: [ sat, specieCount ]
        });

        var maskJson = getJson("{% static 'json/mask.json' %}");
        var coords = maskJson.features[0].geometry.coordinates;
        var maskLayer = new ol.Feature(
        new ol.geom.MultiPolygon(
                coords
        ));

        map.getView().fit(maskLayer.getGeometry().getExtent(), map.getSize());
        //var crop = new ol.filter.Crop({ feature: f, inner:false });
        var mask = new ol.filter.Mask({ feature: maskLayer, inner:false, fill: new ol.style.Fill({ color:[255,255,255,0.5] }) });
        sat.addFilter(mask);
    </script>
{% endblock %}