{% extends 'base.html' %}

{% load static %}
<!--
-----------------
	MAIN MENU
-----------------
-->

{% block main_menu %}
	{% include "_navbar.html"%}
{% endblock main_menu %}

{% block centered_container %}
<h1>Introduzione</h1>

<h3>Il Progetto</h3>
"BioSTREAM" (<em>Biological System for Transmission and Retrieval of Environmental Attributes and Metadata</em>) è un portale che consente la visualizzazione, consultazione ed amministrazione delle banche dati di specie faunistiche e ﬂoristiche (“Bio-DB”) su scala interregionale. "BioSTREAM" è uno strumento conoscitivo standardizzato a scala regionale e sovraregionale teso a favorire una governance unitaria della Rete Natura 2000 e del Bene Dolomiti UNESCO, fungendo da collettore di dati e metadati naturalistici e territoriali. "BioSTREAM" è un supporto conoscitivo per basare le scelte di pianificazione e le politiche di gestione, per le valutazioni ambientali, per la stesura dei report previsti dalle Direttive Habitat e Uccelli per l’aggiornamento Banca dati Natura 2000. "BioSTREAM" è:
<ul>
<li>interamente realizzato con strumenti informatici <em>Open Source</em>;</li>
<li>progettato sia per la standardizzazione e archiviazione delle banche dati già esistenti sia per la raccolta dei dati futuri;</li>
<li>dotato della necessaria flessibilità per consentire ulteriori implementazioni e facilitare la condivisione ed il recupero dei dati, mediante un sistema di credenziali personalizzate in base alle necessità e autorizzazioni all’utilizzo dei dati.</li>
</ul>

Le ﬁnalità specifiche di BioSTREAM e della Bio-BD sono:
<ul>
<li>la conservazione delle specie e degli habitat naturali e seminaturali in ottemperanza a quanto previsto dalle Direttive comunitarie 92/43/CEE "Habitat" e 2009/147/CE "Uccelli" e al D.P.R 357/97 e le relative fonti normative di recepimento regionale;</li>
<li>favorire il monitoraggio delle specie esotiche invasive di rilevanza unionale (Regolamento UE n. 1143/2014 e D.Lgs. 230/2017) la creazione di una base conoscitiva su cui fondare i procedimenti di valutazione ambientale previsti dalla normativa vigente;</li>
<li>contribuire alla creazione di misure di conservazione e gestione dei siti della Rete Natura 2000 e dei Siti Dolomiti UNESCO;</li>
<li>l’analisi della consistenza delle popolazioni nel tempo, al ﬁne di meglio pianiﬁcare le misure di conservazione di cui sopra;</li>
<li>l’organizzazione della conoscenza sulla biodiversità;</li>
<li>il contributo alla redazione di Atlanti di distribuzione;</li>
<li>la condivisione delle conoscenze riguardo la biodiversità con il pubblico generico;</li>
<li>la collaborazione con enti che appoggiano iniziative consimili a quelle sopracitate, come banche dati internazionali quali la GBIF (<em>Global Biodiversity Information Facility</em>).</li>
</ul>

BioSTREAM è gestito da Enti territoriali che hanno il compito di:

<ul>
<li>garantire la funzionalità del sistema;</li>
<li>catalogare gli strati informativi disponibili;</li>
<li>istituire i tavoli di lavoro per favorire la partecipazione al progetto;</li>
<li>definire le funzionalità da implementare;</li>
<li>istituire la Commissione per la Validazione dei dati Biologici (COBIO);</li>
</ul>

Gli attuali Gestori di BioSTREAM sono:
<ul>
<li>la Provincia Autonoma di Trento;</li>
<li>la Regione Friuli Venezia Giulia;</li>
<li>la Regione Veneto.</li>
</ul>

A BioSTREAM partecipano le Istituzioni e le Associazioni che intendono condividere dati relativi a monitoraggi, studi e ricerche faunistiche e ﬂoristiche al fine di tutelare la biodiversità. Tutti i soggetti partecipanti a BioSTREAM promuovono attività ﬁnalizzate a salvaguardare le popolazioni delle specie presenti nel territorio di competenza, in particolare le specie di interesse conservazionistico. La partecipazione a BioSTREAM prevede la stipula di un accordo con i Gestori, al fine di disciplina le modalità di fornitura, condivisione, gestione e utilizzo dei dati contenuti nella BIO-BD. (link a bozza)
La qualità tecnico-scientifica della “Bio-DB” è garantita dalla commissione COBIO, composta da esperti del settore (Enti di ricerca, Università e Musei) e rappresentanti dei Gestori.

I dati contenuti all’interno della Bio-BD sono pubblicati con licenza Creative Commons CC BY-NC 4.0 (obbligo di citare la fonte, obbligo di non utilizzo dei dati per ﬁni commerciali, di non applicare in alcun modo strumenti legali o tecnologici che possano limitare altri dall’usare i dati in modi che la licenza non permette). BioSTREAM garantisce la tutela delle specie e habitat più vulnerabili, restituendo a minor dettaglio i dati maggiormente sensibili (ad esempio, tane, nidi, piccole torbiere, etc...).

<h3><a href="#loc">Localizzazione progetto e <em>repository</a></em></h3>
<p>
Tutto il codice del portale è disponibile e liberamente scaricabile, riutilizzabile e modificabile per i propri fini sul repository pubblico del progetto, a 
<a href="https://gitlab.com/corylabiosphere/biostream">questo link GitLab</a>. Il portale viene diffuso completo del suo database, ma vuoto. questo per non 
inficiare eventuali ambiti di protezione delle specie, che sarebbero in alternativa visibili in chiaro. Una futura evoluzione del portale prevederà un processo automatico di estrazione delle informazioni
non critiche, che rimarranno disponibili anche nel <em>repository</em> del progetto.
</p>
<p>
Attualmente il server che ospita il portale è stoccato da <a href="https://www.insiel.it/cms/">INSIEL</a>, con indirizzo <code>IP</code> interno <em>10.168.345.123</em> e nome <code>Progetto BioSTREAM</code>.
</p>


<h3>Informativa per il trattamento dei dati personali</h3>
Informativa ai sensi e per gli effetti di cui all'art. 13 e ss. del Regolamento Generale sulla Protezione dei dati UE/2016/679 del 27 aprile 2016 (<em>General Data Protection Regulation</em> - GDPR) relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali.
{% endblock centered_container %}