{% extends 'base_nologo.html' %}

{% load static %}
<!--
-----------------
	MAIN MENU
-----------------
-->
{% block extra_head %}
	{{ block.super }}
	<style>
	.mid-selector {
		width: 40%;
	}

	.full-selector {
		width: 95%;
	}	
	.table td, .table th {
		padding: .2em !important;
	}
	</style>
{% endblock extra_head %}

{% block main_menu %}
	{% include "_navbar.html" with active_link='servizi' %}
{% endblock main_menu %}

{% block centered_container %}

{% block main_content %}
<h1>Riferimento osservazione</h1>
<div class="container" id="table-container">
<div class="row" id='container'> 
	<div class="col-sm-12 col-lg-12 col-md-12">
	<table id="observationtable" class="table" style="width:100%">
		<thead>
		<tr>
			<th>UUID</th>
			<th>ID dataset origine</th>
			<th>Taxon</th>
			<th>Giorno</th>
			<th>Mese</th>
			<th>Anno</th>
			<th>Metodo di campionamento</th>
			<th>Precisione spaziale{% if not user.is_staff%} (ricampionata){%endif%}</th>
			<th>Latitudine (WGS84{% if not user.is_staff%}, imprecisa{%endif%})</th>
			<th>Longitudine (WGS84{% if not user.is_staff%}, imprecisa{%endif%})</th>
			<th>Comportamento</th>
			<th>Conteggio</th>
			<th>Località</th>
			<th>Osservatori</th>
			<th>Dettagli</th>
			<th>Causa morte</th>
			<th>Meteo</th>
			<th>Habitat</th>
			<th>Origine</th>
		</tr>
		</thead>
		<tbody>
			<td>{{observation.uuid}}</td>
			<td>{{observation.dataorigin_row_id}}</td>
			<td>{{observation.taxon.taxonomy_specie}}</td>
			<td>{{observation.date_day|default_if_none:""}}</td>
			<td>{{observation.date_month|default_if_none:""}}</td>
			<td>{{observation.date_year|default_if_none:""}}</td>
			<td>{{observation.sampling_method|default_if_none:""}}</td>
			<td>{% if user.is_staff%}{{observation.sampling_precision}}{%else%}{{observation.coord_resampled_precis_m}}{%endif%}</td>
			<td>{% if user.is_staff%}{{observation.latitude_wgs84}}{%else%}{{observation.latitude_wgs84_imp}}{%endif%}</td>
			<td>{% if user.is_staff%}{{observation.longitude_wgs84}}{%else%}{{observation.longitude_wgs84_imp}}{%endif%}</td>
			<td>{{observation.behaviour|default_if_none:""}}</td>
			<td>{{observation.count|default_if_none:""}}</td>
			<td>{{observation.locality|default_if_none:""}}</td>
			<td>{{observation.recorder|default_if_none:""}}</td>
			<td>{{observation.details|default_if_none:""}}</td>
			<td>{{observation.death|default_if_none:""}}</td>
			<td>{{observation.meteo|default_if_none:""}}</td>
			<td>{{observation.habitat|default_if_none:""}}</td>
			<td>{{observation.dataorigin|default_if_none:""}}</td>
		</tbody>
	</table>
	</div>
</div>
</div>
{%endblock main_content%}
{%endblock centered_container%}


{% block bottom_scripts %}
	{{ block.super }}

{% endblock bottom_scripts %}