{% extends 'base.html' %}

{% load static %}

{% block main_menu %}
	{% include "_navbar.html"%}
{% endblock main_menu %}

{% block centered_container %}

<h1>Organizzazione</h1>

<h3>Scopo</h3>
Prendendo spunto dall’esperienza tecnica ed organizzativa maturata durante lo
svolgimento dell’Azione A1 del progetto LIFE+T.E.N. in Trentino <a href="http://www.lifeten.tn.it"></a>, la creazione di un database interregionale (d’ora in avanti, "Bio-BD") di specie faunistiche e floristiche -protette e non- sul quale appoggiare una piattaforma user-friendly di visualizzazione, consultazione ed amministrazione dei dati - il portale BioSTREAM (“Biological System for Transmission and Retrieval of Environmental Attributes and Metadata”) è considerato un elemento chiave per la condivisone dei dati di biodiversità e  per il loro corretto utilizzo ai fini delle valutazioni ambientali e del monitoraggio e della gestione di specie e habitat. 

Per raggiungere lo scopo, il Progetto si prefigge l’obiettivo di costruire <em>ex-novo</em> sistemi interattivi di estrazione, visualizzazione, catalogazione e analisi dei dati georiferiti del database di cui sopra, creando un front-end geocartografico di tipo WebGIS completamente <a href="" data-tooltip="Un modello di sviluppo software che promuove la collaborazione tra sviluppatori, non legando a licenze restrittive il codice sorgente dei programmi interessati" class="glossaryhover"><em>open source</em></a> e rilasciato sotto opportuna licenza. 

Le caratteristiche alle quali il portale mira sono quindi:
<ul>
<li><strong>interoperabilità</strong>: il portale sarà in grado di supportare le operazioni di
interrogazione su qualsiasi sistema operativo, possibilmente e desiderabilmente anche su sistemi di telefonia mobile;
scalabilità: il sistema diminuisce lentamente le proprie prestazioni al crescere della numerosità del database e del numero delle richieste, anche contemporanee;</li>
<li><strong>economicità</strong>: il costo del progetto è completamente spostato sulla struttura hardware (server) e sulla progettazione del software, riutilizzando ovunque possibile codici, funzioni, librerie e framework open source precedentemente sviluppati di cui è comprovata l’affidabilità;</li>
<li><strong>riutilizzabilità</strong>: il codice del portale è reso disponibile a chiunque voglia indagarlo e migliorarlo (e, di conseguenza, anche prenderne spunto nel caso in cui chi ne sia interessato voglia realizzare sistemi consimili), senza particolari restrizioni di licenza (<a href="creativecommons.org/licenses/by-nc/4.0/"> CC BY-NC 4.0</a>: obbligo di citare la fonte, obbligo di non utilizzo dei dati per fini commerciali, di non applicare in alcun modo strumenti legali o tecnologici che possano limitare altri dall’usare i dati in modi che la licenza non permette). Al contrario, la protezione dei dati di specie particolarmente sensibili deve essere garantita: il database completo di dati deve quindi essere liberamente rilasciato solo con una precisione spaziale opportunamente diffusa;</li>
<li><strong>manutentabilità</strong>: il portale deve essere manutentabile da chiunque possegga l’expertise sufficiente, con il minimo sforzo. Di conseguenza sono realizzati, in concomitanza con lo sviluppo del codice, manuali, commenti estensivi al codice e protocolli di test automatizzati per verificare in ogni momento, e sotto varie condizioni di carico del portale, il funzionamento delle varie componenti;</li>
<li>utilizzabilità: non avendo l’ambizione di sostituire sistemi di analisi GIS completi (GRASS, QGIS, ...), il portale è in grado non solo di consentire una interrogazione ed uno scaricamento dati flessibile e calibrato a seconda dell’utente, ma anche l’accesso dei dati da altri sistemi GIS (protocolli <a href="en.wikipedia.org/wiki/Web_Map_Service" data-tooltip="Acronimo per Web Map Service, formato standard (OGC) per l’interscambio di dati geografici" class="glossaryhover">WMS</a>/<a href="en.wikipedia.org/wiki/Web_Feature_Service" data-tooltip="Acronimo per Web Feature Service, formato standard (OGC) per l’interscambio di dati geografici
" class="glossaryhover">WFS</a>) tramite protocolli standard universalmente implementati;</li>
<li><strong>sicurezza e condivisibilità</strong>: il portale sarà ideato al fine di consentire diversi livelli di interrogazione a seconda dell’utente, e a seconda dei diritti di accesso ad esso garantiti. Pur in un’ottica di aderenza ai protocolli open data, la banca dati deve prima di tutto mirare a tutelare sia la sensibilità di specie particolarmente minacciate sia la proprietà intellettuale dei dati forniti dai vari enti. Di conseguenza, è garantita una visualizzazione a differente scala a seconda dell’utente o del gruppo a cui l’utente fa parte (e.g., ufficio, regione, sezione di ricerca,...) e a seconda della specie interrogata. Tutti i dati di specie non particolarmente sensibili sono accessibili ricampionati su griglia chilometrica da chiunque, ed in ogni caso a chiunque viene garantita la possibilità di richiedere i dati a piena risoluzione nella maniera il più automatizzata possibile tramite un sistema integrato di validazione delle richieste;</li>
<li><strong>standardizzazione e pubblicazione dei dati</strong>: il portale rispetta norme internazionalmente riconosciute che regolano la gestione della tassonomia, della struttura dei dataset (Darwin Core o derivati) e in generale dell’immagazzinamento dei dati di rilevamento, così da facilitare future espansioni del DB così come gli interscambi tra enti ed istituzioni che aderiscono agli stessi protocolli di trasmissione dati. Eventuali errori nella struttura dei dati in fase di inserimento sono immediatamente intercettati imponendo l’aderenza allo <a href="{{MEDIA_URL}}standard_inserimento_biostream.pdf">Standard di Inserimento Dati</a>, facilitando la successiva fase di revisione dei dataset, il cui inserimento all’interno della Bio-BD è soggetto ad un processo di validazione convidiso con la COBIO simile a quello tipico di una peer-review per gli articoli scientifici;</li> 
<li><strong>espandibilità</strong>: ci si sforzerà affinché, tramite opportuni accordi, il database standardizzato sia pienamente supportato da accordi interregionali di caricamento e distribuzione dei dati, così da rendere il più fluida e semplice la trasmissione delle informazioni;</li>
<li><strong>federabilità</strong>: come naturale conseguenza di quanto sopra, il portale si può relazionare  con portali -o con altri database esposti sul web- consimili, eventualmente garantendo l’ingresso dei dati da questi sempre tramite accordi opportuni stipulati tra gli enti. Per questi dataset, la Bio-BD si mantiene allineata rispetto gli aggiornamenti, gli inserimenti e le rimozioni dei dati automaticamente con frequenza quanto maggiore possibile, ed in ogni caso concordata all’interno degli accordi tra Gestore e Fornitore.</li>
</ul>

<h3>Materiali e Metodi</h3>
Il software prescelto per la creazione della banca dati è <a href="https://www.postgresql.org">PostgreSQL</a>, assieme alla sua estensione spaziale <a href="https://postgis.net">PostGIS</a>, che uniti all’ecosistema di pacchetti di calcolo disponibili nel software di analisi statistica R e nel linguaggio di programmazione Python rendono la struttura alla base del portale sufficientemente flessibile da poter supportare qualsiasi implementazione desiderata.

L’interfaccia grafica di amministrazione e consultazione dati si compone di vari elementi:
<ul>
<li>una API (Application Programming Interface) RESTful che funge da back-end alle interrogazioni, e tramite la quale l’interfaccia di consultazione e/o eventuali altri utenti interessati a visualizzare i dati del portale possono ottenerli (in vari formati);</li>
<li>un front-end WebGIS, il cui motore è la libreria Javascript Openlayers, che visualizza
su base cartografica i dati disponibili nella Bio-BD e ne permette a seconda della
profilazione concessa all’utente loggato lo scaricamento, il filtraggio e l’interrogazione;</li>
<li>una interfaccia di amministrazione (<em>backend</em>) costruita in Django (https://www.djangoproject.com) che comprende:
<ul>
<li>uno strumento di profilazione degli utenti (su base geografica e/o per ente di
appartenenza);</li>
<li>uno strumento di accodamento dei dataset non disponibili online;</li>
<li>uno strumento di aggancio delle banche dati disponibili per la consultazione
via web (con <em>tool</em> di diagnostica della connessione, dell’allineamento dei campi e delle trasformazioni eventualmente necessarie)</li>
</ul>

{% endblock centered_container %}
