{% extends 'base_nologo.html' %}

{% load static %}
<!--
-----------------
	MAIN MENU
-----------------
-->
{% block extra_head %}
	{{ block.super }}
	<style>
	.mid-selector {
		width: 40%;
	}

	.full-selector {
		width: 95%;
	}	
	</style>
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
{% endblock extra_head %}

{% block main_menu %}
	{% include "_navbar.html" with active_link='servizi' %}
{% endblock main_menu %}

{% block centered_container %}
<!-- Loader -->
<div id="overlay">
  <div class="lds-dual-ring"></div>
</div>

{% block main_content %}
<h1>Catalogo specie</h1>
<div class="container" id="table-container">
<div class="row" id='ultratable-container'> 
	<div class="col-sm-12 col-lg-12 col-md-12">
	<table id="ultratable" class="table table-striped" style="width:100%" data-server-side="true" >
		<thead>
		<tr>
			<th data-data="observation_specie">Binomiale</th>
			<th data-data="taxonomy_specie_vernacular">Nome vernacolare</th>
			<th data-data="taxonomy_family">Famiglia</th>
			<th data-data="taxonomy_ordo">Ordine</th>
			<th data-data="taxonomy_phylum"><em>Phylum</em></th>
			<th data-data="taxonomy_kingdom">Regno</th>
			<th data-data="uccelli">All. Uccelli</th>
			<th data-data="berna">All Berna</th>
			<th data-data="cites">CITES</th>
			<th data-data="bonn">All. Bonn</th>
			<th data-data="habitat">All. Habitat</th>
			<th data-data="barcellona_all_2">Convenzione di Barcellona</th>
			<th data-data="endemism">Endemismo?</th>
			<th data-data="iucn">IUCN</th>
		</tr>
		</thead>
	</table>
	</div>
</div>
</div>

<!-- Specie info Modal -->
<div class="modal fade" id="modal-specieinfo" tabindex="-1" role="dialog" aria-labelledby="modal-specieinfo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><em class="modal-title-em"></em></h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="modal-body" class="modal-body">
				<div class="container profile-body">
				<div class="panel-body">
					<div class="row">
						Nessuna statistica riassuntiva rinvenuta per la tassonomia!</br>
						Probabilmente si tratta di una aggiunta recente del portale: riprova più tardi!
					</div>
				</div>
				</div>			
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>	
</div>
{% endblock main_content %}

{% endblock centered_container %}


{% block bottom_scripts %}
	{{ block.super }}
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>	
	<script src="//cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>

	<!-- Loader -->
	<script>
		document.getElementById("overlay").style.display = "block";
		$(document).ready(function() {
			document.getElementById("overlay").style.display = "none";
		});
	</script>	
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>	
	<script>
		var url = "{% url 'species-list' %}?format=datatables";
        $('#ultratable').DataTable({
			"pageLength": 5,
            'serverSide': true,
            "ordering": false,
            "orderCellsTop": true,
            "fixedHeader": true,
            "scrollX": true,
            "ajax": {
                "url": url,
                
            },
            "columnDefs": [
                {
                    targets: [0],
                    render: function (data, type, row, meta)
                    {
                        data = "<button class='btn btn-primary specieinfo'><em>" + data + "</em></a>";
                        return data;
                    }									
                },
                {
                    targets: [1,2,3,4,5,6,7,8,9,10,11,12,13],
                    searchable: false,
                }
            ],                       
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json"
            }
        });
        $('#ultratable_filter').parent().addClass('text-right');
		$('#ultratable-container').append("<div class='row catalogdownloadtablerow'><div class='col-sm-12 col-md-12 text-center'><button type='button' class='btn btn-primary catalogdownloadtable'><i class='fas fa-download'></i></button></div></div>");

        $(document).on('click','button.specieinfo',function(evt){
            evt.preventDefault();
            var taxonName = event.target.innerHTML;//+''.replace('<em>','').replace('</em>','');
            var specUrl = "http://biostreamportal.net/taxonstats/" + taxonName;
            $.ajax({
                method: "GET",
                url: specUrl, 
                success: function(result) {
                    $("#modal-specieinfo").html(result);
                    $("#modal-specieinfo").modal('show');
                },
                error: function(result){
                    $(".modal-title-em").html(taxonName);
                    $("#modal-specieinfo").modal('show');
                }
            });			
        });

		// Table download with ordered headers
		var downloadUrl = $('#ultratable').DataTable().ajax.url().replace('datatables','csv&no_page');
		var fileName = 'biostream_catalogo_specie.csv';
		$('body').on('click','button.catalogdownloadtable',function(evt){
			evt.preventDefault();
			fetch(downloadUrl)
			.then(resp => resp.blob())
			.then(blob => {
				const url = window.URL.createObjectURL(blob);
				const a = document.createElement('a');
				a.style.display = 'none';
				a.href = url;
				a.download = fileName;
				document.body.appendChild(a);
				a.click();
				window.URL.revokeObjectURL(url);
			}).catch(() => alert('File non scaricato!'));												
		});
    </script>
{% endblock bottom_scripts %}