{% extends 'base_nologo.html' %}

{% load static %}

{% block main_menu %}
	{% include "_navbar.html"%}
{% endblock main_menu %}

{% block centered_container %}

<h1>Status servizi</h1>
    </br>
    <ul id="service-status-list">
    </ul>
{% endblock centered_container %}

{% block bottom_scripts %}
	{{ block.super }}
    <script>
        function addElement(item, index) {
        }

        fetch("{% url 'status' %}")
        .then(function (response) { return response.text();})
        .then(function(response) {
            response = JSON.parse(response);

            Object.keys(response).forEach(function(key) {
                $('#service-status-list').append("<li><strong>" + key + "</strong>: " + (((response[key][0]!=undefined) ? response[key][0]["default"]["ok"]: response[key]["ok"]) ? "<button type='button' class='btn btn-primary'> REGOLARMENTE FUNZIONANTE </button>" : "<button type='button' class='btn btn-danger'> OFFLINE </button>") + "</li></br>");
            });            
        }).catch();
    </script>

{% endblock %}