{% extends 'base_nologo.html' %}

{% load static %}
<!--
-----------------
	MAIN MENU
-----------------
-->
{% block extra_head %}
	{{ block.super }}
	<style>
	.mid-selector {
		width: 40%;
	}

	.full-selector {
		width: 95%;
	}	
	</style>
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" />    
{% endblock extra_head %}

{% block main_menu %}
	{% include "_navbar.html" with active_link='servizi' %}
{% endblock main_menu %}

{% block centered_container %}
<!-- Loader -->
<div id="overlay">
  <div class="lds-dual-ring"></div>
</div>

{% block main_content %}
<h1>Osservazioni senza match entro la tassonomia generale</h1>
<div class="container" id="table-container">
<div class="row" id='ultratable-container'> 
	<div class="col-sm-12 col-lg-12 col-md-12">
	<table id="ultratable" class="table table-striped" style="width:100%" data-server-side="true" >
		<thead>
		<tr>
			<th data-data="taxon_cleaned">Binomiale</th>
			<th data-data="n">Numero di occorrenze</th>
		</tr>
		</thead>
	</table>
	</div>
</div>
</div>



<!-- Specie info Modal -->
<div class="modal fade" id="modal-taxoncorrectionform" tabindex="-1" role="dialog" aria-labelledby="modal-taxoncorrectionform" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><class="modal-title-em"></h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div id="modal-body" class="modal-body">
				<div class="container profile-body">
				<div class="panel-body">
					<div class="row panel-questionnaire">
						Nessuna tassonomia rinvenuta!</br>
						Probabilmente si tratta di una aggiunta recente del portale: riprova più tardi!
					</div>
                    <div id="taxon-form" style="display: none;">
                        <form>
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="col-md-5">
                                    <input class="form-control" id="unmatched-taxon" placeholder="Specie iniziale" required/>
                                </div>
                                <div class="col-md-7">
                                    <select class="js-example-responsive" style="width: 100%" id="matched-taxon" name="state" required>
                                        <option></option>                                
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align:right;">
                                    <button title="Invia match al database" class="btn btn-success" type="submit"> Invia </button>
                                </div>
                            </div>
                        </form>
                    </div>
				</div>
				</div>			
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>	
</div>

{% endblock main_content %}

{% endblock centered_container %}


{% block bottom_scripts %}
	{{ block.super }}
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>	
	<script src="//cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>

	<!-- Loader -->
	<script>
		document.getElementById("overlay").style.display = "block";
		$(document).ready(function() {
			document.getElementById("overlay").style.display = "none";
		});
	</script>	
	<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="{% static 'site/js/select2.js' %}"></script>
	<script>
		var url = "{% url 'taxon-nonmatch-list' %}?format=datatables";
        $('#ultratable').DataTable({
			"pageLength": 5,
            'searchable': true,
            'serverSide': true,
            "ordering": false,
            "orderCellsTop": true,
            "fixedHeader": true,
            "scrollX": true,
            "ajax": {
                "url": url,
                
            },
            "columnDefs": [
                {
                    targets: [0],
                    render: function (data, type, row, meta)
                    {
                        data = "<button class='btn btn-primary taxonbuttonform'><em>" + data + "</em></a>";
                        return data;
                    }									
                },
            ],                       
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json"
            }
        });

        $(document).on('click','button.taxonbuttonform',function(evt){
            evt.preventDefault();
            var specie = $($(this).html()).text();
            if(specie) {
                $(".modal-title").html(`Match per <em>${specie}</em>`);
                $('.panel-questionnaire').remove();
                $('#taxon-form').css('display','block');
                $('#unmatched-taxon').val($($(this).html()).text());
                $(document).ready(function() {
                    $('#matched-taxon').select2({
                        dropdownParent: $('#modal-taxoncorrectionform'),
                        placeholder: 'Inizia a digitare il nome di un taxon...',
                        minimumInputLength: 5,
                        ajax: {
                            url: "{% url 'taxon-gbif' %}",dataType: "json",type: "GET",
                            data: function (params) {
                                // Query parameters will be ?search=[term]&habitat=habitatischecked
                                var query = {
                                    q: params.term
                                }
                                return query;
                            },
                        },
                        language: {
                            inputTooShort: function () {
                                return "Scrivi una unità tassonomica";
                              }
                        },
                        placeholder: 'Inizia a digitare il nome di un taxon...',
                        minimumInputLength: 2,
                    });		
                });                
            }
            $("#modal-taxoncorrectionform").modal('show');

        });
    </script>
    <script>

        document.querySelector('form').addEventListener('submit', async (event) => {
            loadToggle(true);
            await event.preventDefault();
            if (
              !window.confirm(
                "Sei sicur* di voler inviare questa correzione?"
              )
            ) {
              return;
            }
            const csrftoken = await document.querySelector('[name=csrfmiddlewaretoken]').value;
            const unMatchedTaxon = await document.querySelector('[id=unmatched-taxon]').value;
            const matchedTaxon = parseInt(await document.querySelector('[id=matched-taxon]').value);
    
            const data = await JSON.stringify({
              matchedTaxon: matchedTaxon,
              unMatchedTaxon: unMatchedTaxon
            });
    
            const response = await fetch("{% url 'taxon_matcher' %}", {
              method: 'POST',
              headers: {
                'X-CSRFToken': csrftoken,'Content-Type': 'application/json',charset: 'utf-8',
              },
              mode: 'same-origin',
              body: data,
            });
            const responseData = await response.json();
      
            console.log(responseData);
    
            if (response.ok) {
                alert(responseData.message);window.location = location.href;
                loadToggle(false);
            } else {
              alert(responseData.message);
            }
          });
      </script>    
{% endblock bottom_scripts %}