{% extends "admin/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<p>{% trans "Grazie per aver visitato il nostro sito!" %}</p>

<p><a href="{% url 'admin:index' %}" class="btn btn-default">{% trans 'Loggati nuovamente' %}</a></p>

{% endblock %}
