{% extends "admin/base_site.html" %}
{% load i18n static bootstrapped_goodies_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li>{% trans 'Reset password' %}</li>
</ul>
{% endblock %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content_title %}<a class="navbar-brand">{% trans "Password reset" %}</a>{% endblock %}

{% block content %}

<p class="alert alert-info">{% trans "Hai dimenticato la tua password? Inserisci il tuo indirizzo mail di seguito, e ti manderemo istruzioni su come impostarne una nuova." %}</p>

<form class="form-horizontal" action="" method="post">{% csrf_token %}
    <div class="form-group">
        <div class="control-label col-sm-2">
            <label for="id_email">{% trans 'Indirizzo mail:' %}</label>
        </div>
        <div class="controls col-sm-10">
            {{form.email }}
            {% if form.email.errors %}<span class="text-danger">{{ form.email.errors|striptags }}</span>{% endif %}
        </div>
    </div>

    <div class="form-actions col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="{% trans 'Resetta la mia password' %}" />
    </div>
</form>

{% endblock %}
