{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
  <li>{% trans 'Cambio password' %}</li>
</ul>
{% endblock %}

{% block title %}{% trans 'Cambio password riuscito' %}{% endblock %}
{% block content_title %}<a class="navbar-brand">{% trans 'Cambio password riuscito' %}</a>{% endblock %}

{% block content %}

<p class="alert alert-success">{% trans 'La tua password è stata cambiata.' %}</p>

{% endblock %}
