{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li>{% trans 'Password reset confirmation' %}</li>
</ul>
{% endblock %}

{% block title %}{% trans 'Reset password' %}{% endblock %}
{% block content_title %}<a class="navbar-brand">{% trans 'Reset password' %}</a>{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Inserisci una nuova password' %}</h1>

<p class="alert alert-info">{% trans "Si prega d'inserire la nuova password due volte così da verificare tu l'abbia digitata correttamente." %}</p>

<form class="form-horizontal" action="" method="post">{% csrf_token %}
<div class="form-group">
    <div class="control-label col-sm-2">
        <label for="id_new_password1">{% trans 'Nuova password:' %}</label>
    </div>
    <div class="controls col-sm-10">
        {{form.new_password1}}
        {% if form.new_password1.errors %}<span class="text-danger">{{ form.new_password1.errors|striptags }}</span>{% endif %}
    </div>
</div>
<div class="form-group">
    <div class="control-label col-sm-2">
        <label for="id_new_password2">{% trans 'Conferma password:' %}</label>
    </div>
    <div class="controls col-sm-10">
        {{form.new_password2}}
        {% if form.new_password2.errors %}<span class="text-danger">{{ form.new_password2.errors|striptags }}</span>{% endif %}
    </div>
</div>
<div class="form-actions col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="{% trans 'Cambia password' %}" />
</div>
</form>

{% else %}

<h1>{% trans 'Reset password non riuscito' %}</h1>

<p class="alert alert-warning">{% trans "Il link di reset della password non è valido, probabilmente perchè è già stato usato. Si prega di effettuare una nuova richiesta di cambio password." %}</p>

{% endif %}

{% endblock %}
