{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
<li>{% trans 'Password reset' %}</li>
</ul>
{% endblock %}

{% block title %}{% trans 'Reset password completato' %}{% endblock %}
{% block content_title %}<a class="navbar-brand">{% trans 'Reset password completato con successo' %}</a>{% endblock %}

{% block content %}

<p class="alert alert-success">{% trans "Abbiamo inviato istruzioni su come settare la tua password alla tua casella mail. Dovresti riceverle a breve! %}</p>

{% endblock %}
