{% extends "data_requests/datarequest_base.html" %}
{% load leaflet_tags  %}
{% load geojson_tags %}

{% block title %}{{ block.super }}Richieste dati - vista{% endblock %}

{%block mainlink%}<a href="{% url 'datarequests-add' %}" class="btn btn-primary">Nuova richiesta</a>
{% if user.is_superuser%}
<a href="{% url 'extract_full_form' %}" class="btn btn-primary">Richiedi tutti i dati</a>
{% endif %}
{%endblock mainlink%}
{% block request_detail %}
<ul class="list-group">
{% for datarequest in object_list %}
    <li class="list-group-item"><span class="pull-left"><strong>{{ datarequest.created|date }}</strong> - {%if datarequest.name %}{{datarequest.name}}{% else %}{{ datarequest.description }}{%endif%}</span><span class="pull-right">Approvata da tutti i Fornitori: {%if datarequest.is_accepted %}<i class="fas fa-check-circle" title="Richiesta approvata"></i>{%else%}<i class="fas fa-times-circle" title="Richiesta rifiutata"></i>{%endif%} | Valida: {%if datarequest.expired %}<i class="fas fa-times-circle" title="Richiesta decaduta"></i>{%else%}<i class="fas fa-check-circle" title="Richiesta valida"></i>{%endif%}</span>
    </li>
    <div id="map_request_{{datarequest.id}}" class="leaflet-container-default"></div>
    <ul class="list-group">
      <li class="list-group-item">
      <strong>Fornitori che devono approvare la richiesta</strong>
      </li>
    {% for datarequest_acceptance in datarequest.datarequestacceptance_set.all %}
      <li class="list-group-item">
      <span class="pull-left"><em>{{datarequest_acceptance.institution}}</em></span><span class="pull-right">Approvata: {%if datarequest_acceptance.accepted %}<i class="fas fa-check-circle" title="Richiesta approvata"></i>{%else%}<i class="fas fa-times-circle" title="Richiesta rifiutata"></i>{%endif%}</span></br><p>Motivazione: {%if datarequest_acceptance.motivation%}{{datarequest_acceptance.motivation|safe}}{%else%}Non espressa{%endif%}</p>
      {% if datarequest_acceptance.accepted%}
      <span class="pull-left"><a href="{{datarequest_acceptance.dataset.url}}">Scarica il dataset</a></span>
      {%endif%}
      </li>
    {%endfor%}
    </ul>
    <script type="text/javascript">
    (function () {
        function loadmap{{datarequest.id}}() {
            var djoptions = {"srid": null, "extent": null, "center": [46.5377684,12.1342377], "zoom": null, "minzoom": 7, "maxzoom": 12, "layers": [["OSM", "//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", "\u00a9 Collaboratori <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a>"]], "overlays": [], "attributionprefix": null, "scale": "metric", "minimap": false},
                options = {djoptions: djoptions, initfunc: loadmap{{datarequest.id}},
                          globals: false},
                map = L.Map.djangoMap('map_request_{{datarequest.id}}', options);
                L.geoJson(
                  {{datarequest.geom|geojsonfeature|safe}},
                  {
                    style: {
                    fillColor: '#E94718',
                    weight: 2,
                    opacity: 1,
                    color: '#E94718',
                    fillOpacity: 0.2
                  }
                }).addTo(map);
        }
        var loadevents = ["load"];
        if (loadevents.length === 0) loadmap{{datarequest.id}}();
        else if (window.addEventListener) for (var i=0; i<loadevents.length; i++) window.addEventListener(loadevents[i], loadmap{{datarequest.id}}, false);
        else if (window.jQuery) jQuery(window).on(loadevents.join(' '), loadmap{{datarequest.id}});
    })();
    </script>
    </br>
    <form id="deleteform{{datarequest.id}}" style="visibility:hidden;" method="POST" action="{% url "datarequests-delete" datarequest.id%}">
      {% csrf_token %}<input type="submit">
    </form>
    <div class="row">
    <button class="btn btn-warning" form="deleteform{{datarequest.id}}" value="Rimuovi">Rimuovi</button>    
    <!--<a href="{% url 'datarequests-delete' datarequest.id %}" class="btn btn-warning">Elimina</a>-->
    </div>
    </div>
{% empty %}
    <li class="list-group-item"><span class="pull-left">Nessuna richiesta dati presente</span></li>
{% endfor %}
</ul>      
{% endblock request_detail %}

