{% extends "base.html" %}

{% load static %}

{% load thumbnail %}

{% load leaflet_tags  %}
{% load geojson_tags %}

{% block extra_head %}
  {{ block.super }}
    {% leaflet_js plugins="forms"%}
    {% leaflet_css plugins="forms"%}
    <link rel="stylesheet" href="{% static 'site/css/loader.css'%}" />
    <style>
        .container {
            max-width: 1600px;
        }
    </style>
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
{% endblock extra_head %}


{% block main_menu %}
    {% include "_navbar.html" %}
{% endblock main_menu %}

{% block title %}{{ block.super }}Richieste dati{% endblock %}

{% block centered_container %}
<!-- Loader -->
<div id="overlay" style="z-index:10000;">
  <div class="lds-dual-ring"></div>
</div>
<div class="container profile-head">
  <div class="row">
    <div class="col-sm-10">
      <h1>{{ show_user.get_full_name }} - richieste dati</h1>
      <a href="{% url 'profiles:show_self' %}" class="btn btn-info">Torna al profilo</a>
      {%block mainlink%}<a href="{% url 'datarequests-add' %}" class="btn btn-primary">Nuova richiesta</a>{%endblock mainlink%}

    </div>
    <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive" src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
    </div>
  </div>
</div>

<div class="container profile-body">
  <div class="row">
    <div class="col-12">
      <div class="panel panel-default">
        {% block request_detail %}
        {% endblock request_detail %}
      </div>
    </div>
  </div>
</div>

{% endblock centered_container %}