{% extends "data_requests/datarequest_base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load crispy_forms_tags%}

{% block extra_head %}
  {{ block.super }}
  {{ form.media }}
  <style>
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #E23A1A;
  }
  textarea.form-control {
    max-height: 5em;
  }  
  </style>  
    <script>
    $(document).on("submit","form", function () {
      loadToggle(true);
    });  
    </script>
    <script>
    var map;
    $(window).on('map:init', function(e) {
      map = e.originalEvent.detail.map;
    });
  function getData() {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: "https://biostreamportal.net/static/json/mask_4326.geojson",
        type: 'GET',
        datatype:'json',
        success: function (data) {
          resolve(data)
        },
        error: function (error) {
          reject(error)
        },
      })
    })
  };
</script>
{% endblock extra_head %}

{%block mainlink%}<a href="{% url 'datarequests-list' %}" class="btn btn-info">Torna alle richieste</a>{%endblock mainlink%}

{% block title %}{{ block.super }}Richiesta dati{% endblock %}

{% block request_detail %}
<div class="row">
  <div class="col-1"></div>
    <div class="col-9">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Invia richiesta">
    </form>
    </div>
  <div class="col-2"></div>
</div>
{% endblock request_detail %}

{% block bottom_scripts%}
  {{block.super}}
	<script type="text/javascript" src="{% static 'site/js/select2.js' %}"></script>

  <!-- LEAFLET MASK-->
  <script>
		function getJson(url) {
			return JSON.parse($.ajax({
				type: 'GET',
				url: url,
				dataType: 'json',
				global: false,
				async: false,
				success: function (data) {
					return data;	
				}
			}).responseText);
		};  
L.Mask = L.Rectangle.extend({
	options: {
		stroke: false,
		color: '#333',
		fillOpacity: 0.5,
		clickable: true,

		outerBounds: new L.LatLngBounds([-90, -360], [90, 360])
	},

	initialize: function (latLngBounds, options) {
		L.Polygon.prototype.initialize.call(this, [this._boundsToLatLngs(this.options.outerBounds), this._boundsToLatLngs(latLngBounds)], options);				
	},

	getLatLngs: function () {
		return this._holes[0];
	},

	setLatLngs: function (latlngs) {
		this._holes[0] = this._convertLatLngs(latlngs);
		return this.redraw();
	},

	setBounds: function (latLngBounds) {
		this._holes[0] = this._boundsToLatLngs(latLngBounds);
		return this.redraw();
	}

});

L.mask = function (latLngBounds, options) {
	return new L.Mask(latLngBounds, options);
};


if (L.Draw && L.Draw.SimpleShape) {

	L.Draw.Mask = L.Draw.SimpleShape.extend({
		statics: {
			TYPE: 'mask'
		},

		options: {
			shapeOptions: {
				stroke: false,
				color: '#333',
				fillOpacity: 0.5,
				clickable: true
			}
		},

		initialize: function (map, options) {
			this.type = L.Draw.Mask.TYPE;
			this._initialLabelText = 'Clicca e trascina per creare la maschera';
			L.Draw.SimpleShape.prototype.initialize.call(this, map, options);
		},

		_drawShape: function (latlng) {
			if (!this._shape) {
				this._shape = new L.Mask(new L.LatLngBounds(this._startLatLng, latlng), this.options.shapeOptions);
				this._map.addLayer(this._shape);
			} else {
				this._shape.setBounds(new L.LatLngBounds(this._startLatLng, latlng));
			}
		},

		_fireCreatedEvent: function () {
			var mask = new L.Mask(this._shape.getBounds(), this.options.shapeOptions);
			L.Draw.SimpleShape.prototype._fireCreatedEvent.call(this, mask);
		}
	});

}
</script>
<script>
  var dat;
  getData().then((data) => {
    dat = JSON.parse(data);
    var coordinates = dat.features[0].geometry.coordinates[0][0];
    var latLngs = [];
    for (i=0; i<coordinates.length; i++) {
        latLngs.push(new L.LatLng(coordinates[i][1], coordinates[i][0]));
    }

    L.mask(latLngs).addTo(map);

    var options = {
      style: function (feature) {
        return {
          "color": "#E23A1A",
          "weight": 2,
          "opacity": 1,
        };
      }
    }; 
    new L.geoJson(dat.features[0],options).addTo(map);
    map.fitBounds(L.geoJson(dat.features[0]).getBounds()); 
  });  

</script>
<script>
  $('#id_comune').select2({
    placeholder: "Digita il nome di un comune...",
    language: 'it',
    ajax: {
      url: '{% url "comuni-autocomplete" %}',
      dataType: 'json'
    }
  });
</script>
{%endblock%}
