{% extends "data_requests/datarequest_base.html" %}

{% load crispy_forms_tags %}

{% block extra_head %}
  {{ block.super }}
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
	<link rel="stylesheet" href="https://openlayers.org/en/latest/css/ol.css" />
{% endblock extra_head %}

{%block mainlink%}<a href="{% url 'datarequests-list' %}" class="btn btn-info">Torna alle richieste</a>{%endblock mainlink%}


{% block title %}{{ block.super }}Richieste dati{% endblock %}

<form method="post">
    {% csrf_token %}
    <p>Sei sicur* di voler rimuovere la richiesta?</p>
    <input type="submit" value="Conferma">
</form>