{% extends 'admin/base_site.html' %}
{% block extrahead %}
    {{block.super}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
    if($('.help a')[0] !== undefined) {
        $('.help a')[0].href = $('.help a')[0].href.replace('change/%7B%7D','password');
    }
    </script>
{% endblock  %} 