{% extends 'gis_base.html' %}

{% load static %}

{% block extra_head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'site/css/checklist.css' %}" />
	<style>

		table.table-fit {
			width: auto !important;
			table-layout: auto !important;
		}
		table.table-fit thead th, table.table-fit tfoot th {
			width: auto !important;
		}
		table.table-fit tbody td, table.table-fit tfoot td {
			width: auto !important;
		}
		table {
			display: flex;
			flex-flow: column;
			width: 100%;
		}
		
		thead {
			flex: 0 0 auto;
		}
		
		tbody {
			flex: 1 1 auto;
			display: block;
			overflow-y: auto;
			overflow-x: hidden;
		}
		
		tr {
			width: 100%;
			display: table;
			table-layout: fixed;
		}
		
		.btn-habitat{
			margin-right: .5em;
		}
	</style>
{% endblock extra_head %}
{% block main_menu %}
	{% include "_navbar.html" with active_link='servizi' %}
{% endblock main_menu %}

{% block centered_container %}
	{{block.super}}
	<h1>Checklist specie e habitat</h1>
	<p>Il sistema ritorna delle checklist di specie con almeno una osservazione
	per l'area disegnata / selezionata: i nomi delle specie sono inoltre corredati dagli eventuali allegati
	della Direttiva Habitat all'interno dei quali eventualmente appaiono. Per ogni area vengono anche segnalati gli habitat Natura 2000 eventualmente ivi presenti.</p>

	<div class="row text-center">
		<div class="col-4">
		</div>
		<div class="col-4 text-center">
		<select class="full-selector" id="select-area" name="state">
			<option></option>
		</select> 
		</br>
		{% if user.is_staff%}
		oppure
		</br>
		<input id="drawToggle" type="checkbox" checked data-toggle="toggle" data-on="Disegna sulla mappa" data-off="Disattiva il disegno" data-onstyle="primary" data-style="android" data-offstyle="secondary" data-width="200" data-height="40">
		</div>
		<div class="col-4">
		{%endif%}
		</div>
		</br>
		<center>
		(puoi anche trascinare un file di confini KML/GeoJSON/GPX dentro la mappa)
		</center>
	</div>
	
	</br>

	<div class="row">
	<div class="col-12">
		<div id="map" class="map" crossOrigin = "Anonymous"></div>
		<!-- Specie info tooltip for points -->
		<div id="tooltip-specie-point" class="ol-tooltip">
			<div id="tooltip-specie-point-content"></div>
		</div>		
		<div id="info">&nbsp;</div>
		<div class="loading" style="display: none;"><p></p><span></span></div>
    </div>
	<div class="row" id="check-results-row" style="display:none;">
		<div class="col-12">
			<table class="table table-fit" id="check-results">
				<thead>
					<tr>
						<td>Classe</td><td>Specie</td><td>N. specie</td>
					</tr>
				</thead>
				<tbody class="table-body">
				</tbody>
			</table>
			<button type='button' class='btn btn-primary' id="checklistdownload"><i class='fas fa-download'></i></button>
			</br>
		</div>
	</div>	
	<div class="row" id="habitat-results-row" style="display:none;">
		<h3>Habitat</h3>
		<div class="col-12">
		</div>
	</div>

</div>
{% endblock centered_container %}

{% block bottom_scripts %}
	{{ block.super }}
    <script src="{% static 'site/js/checklist.js' %}"></script>

	<script>
		var draw = undefined;
		var geojsonfeat;

		var clearResultsTable = function() {
			$('#check-results tbody tr').remove();
			$('#check-results-row').css('display','none');
			{% if user.is_staff%}
			dropSpeciePointLayer(map.getLayers().getArray());
			{% endif %}
		};

		var clearHabitatRow = function() {
			$('#habitat-results-row').css('display','none');
			$('#habitat-results-row div button').remove();
		}

		var clearAll = function() {
			clearResultsTable();
			clearHabitatRow();
		}

		function download_csv_url(url, filename) {
			var downloadLink;
			downloadLink = document.createElement("a");
			downloadLink.download = filename;downloadLink.href = url;downloadLink.style.display = "none";
			document.body.appendChild(downloadLink);downloadLink.click();
		};
		
		var addResults = function(e)
		{
			var feature;
			if(e.features) {
				feature = e.features[0];
			} else{
				feature = e.feature;
			};
			if(feature.getGeometry()) {	
				var ext = feature.getGeometry().getExtent();
				geojsonfeat = (new ol.format.GeoJSON()).writeFeatures([new ol.Feature(feature.getGeometry().clone().transform('EPSG:3035', 'EPSG:4326'))],{'decimals': 4});
				feat = JSON.parse(geojsonfeat).features[0].geometry;
				map.getView().fit(ext,map.getSize());
			}
			var urlSpecie = "{% url 'observations-taxon-check-list' %}?geometry=" + JSON.stringify(feat) + "&format=json";
			populateResultsTable(urlSpecie);
			{% if user.is_staff%}
			if(feature.getGeometry().getArea()<20000000) {
				addSpeciePointLayer(JSON.stringify(feat));
			} else {
				new bootModal(`Attenzione`,`<p>La geometria inserita è troppo grande (>10000mq), quindi i punti precisi non verranno visualizzati</p>`,"error_modal").show();				
			}
			{% endif %}
			$("#checklistdownload").on("click", function () {
				download_csv_url("{% url 'observations-taxon-detailed-check-list' %}?geometry=" + JSON.stringify(feat) + "&format=csv&no_page","BioSTREAM_specie_checklist_table.csv");
			});						
		};

		var addDrawPolygonBiodiversityDetail = function(inputSpecie) {
			var inputSpecie = inputSpecie.results;
			var row = '';
			for(var i=0;i<inputSpecie.length;i++) {
				row = `<tr><td><strong>${inputSpecie[i].classname}</strong></td><td class="text-left" style="word-wrap: break-word"><em>${inputSpecie[i].species}</em></td><td class="text-left">${inputSpecie[i].species_n}</td></tr>`; 
				$('#check-results').append(row);
			};
			$('#check-results-row').css('display','');
		};

		var addHabitatDetail = function(habitats) {
			var habitats = habitats.results;
			var row = '';
			for(var i=0;i<habitats.length;i++) {
				but = `<button id='${habitats[i].cod}' type='button' class='btn btn-primary btn-habitat'><strong>${habitats[i].cod}</strong></button>`
				$('#habitat-results-row div').append(but);
			};
			$('#habitat-results-row').css('display','');

		}
		var populateResultsTable = function(urlSpecie) {
			clearResultsTable();
			ajax({
				beforeSend: function() {loadToggle(true)},
				type: 'GET',
				url: urlSpecie,
				context: this
			}).then(function (responseSpecie) {
				if(responseSpecie!=undefined) {
					addDrawPolygonBiodiversityDetail(responseSpecie);
					loadToggle(false);
				};
			}).catch(function(error){loadToggle(false);});			
		}

		var populateHabitat = function(urlHabitat) {
			clearHabitatRow();
			ajax({
				beforeSend: function() {loadToggle(true)},
				type: 'GET',
				url: urlHabitat,
				context: this
			}).then(function (responseHabitat) {
				if(responseHabitat!=undefined) {
					addHabitatDetail(responseHabitat);
					loadToggle(false);
				};
			}).catch(function(error){loadToggle(false);});			
		}
		
		{% if user.is_staff %}
		var dropSpeciePointLayer = function(lyrs) {
			lyrs.forEach(lyr => {
				if(lyr.get('title') == 'Area disegnata') {
					map.getLayers().remove(lyr);
				}
			});
		};
		var addSpeciePointLayer = function(json_geom) {
			var urlSpeciePoints = "{% url 'observation-point-taxon-list' %}?geometry=" + json_geom + "&format=json&limit=20000";				
			var pointLayer = createPointMultipleSpeciesVectorLayer('Area disegnata',urlSpeciePoints);
			var lyrs = map.getLayers().getArray();
			dropSpeciePointLayer(lyrs);
			var found = false;
			lyrs.forEach(lyr => {
				if(lyr.get('title') == 'Area disegnata') {
					map.getLayers().extend([pointLayer]);
					found = true;
				}
			});
			if(!found) {
				map.getLayers().extend([pointLayer]);
			}		
		};
		{% endif %}		
	</script>
	<script>

		/* Draw */
		var drawSource = new ol.source.Vector({wrapX: false});
		var drawVector = new ol.layer.Vector({
			source: drawSource,
			displayInLayerSwitcher: false,			
			style: basePolygonStyle		
		});
		map.addLayer(drawVector);

		/* Drop KML */
		var dd = new ol.interaction.DropFile({
			formatConstructors: [ol.format.GPX,ol.format.GeoJSON,ol.format.KML],
			accept: ["gpx","geojson","kml"]
		});
		map.addInteraction(dd);
		
		var clearFeaturesControl = new ol.control.Button ({
			html: '<i class="fas fa-broom"></i>',
			className: "toggleMask",
			title: 'Pulisci il disegno',
			handleClick: function() {
				drawSource.clear();
				clearAll();
			}
		});

		dd.on('loadstart', function (e) {
			drawSource.clear();
			clearAll();
			$("#select-area").empty();
		});
		dd.on('addfeatures', function(e) {
			var feature;
			addResults(e);
			if(e.features) {
				feature = e.features[0];
			} else{
				feature = e.feature;
			};
			drawVector.getSource().addFeature(feature);
		});

		{% if user.is_staff%}
		$('#drawToggle').on('change',function(e){
			$("#select-area").empty();
			clearAll();
			if(!(typeof vect==='undefined')) {
				map.removeLayer(vect);
				vect = undefined;
			};

			/* Draw */
			var drawLayer = undefined;
			if(!elem_id('drawToggle').checked) {
				drawSource.clear();

				draw = new ol.interaction.Draw({
					source: drawSource,
					type: 'Polygon',
					stopClick: true
				});
				draw.on('drawstart',function() {
					drawSource.clear();
				});
				draw.on('drawend',function(e){
					addResults(e);
				});
				map.addInteraction(draw);
				mainbar.addControl(clearFeaturesControl);
			} else {
				drawSource.clear();
				clearAll();
				map.removeInteraction(draw);
				map.removeControl(clearFeaturesControl);
			}
		});
		{%endif%}

		var singular = ['comune','areaprotetta','parco','rr'];
		var plural = ['comuni','areeprotette','parchi','rr'];

		$('#select-area').select2({
			placeholder: "Digita il nome di un'area...",
			language: 'it',
			ajax: {
				url: '{% url "aree-autocomplete" %}',
				dataType: 'json'
			}
		}).on('select2:select',function(e){
			{% if user.is_staff%}
			if(elem_id('drawToggle').checked) {
				elem_id('drawToggle').click();
			}
			{%endif%}
			var data = e.params.data;
			var urlType = plural[singular.indexOf(data.type)];
		
			if(data) {
				loadTempLayer(`https://biostreamportal.net/api/${urlType}?format=json&id=${data.area_id}`);
				populateResultsTable(`{% url 'observations-taxon-check-list' %}?${data.type}=${data.area_id}`);
				populateHabitat(`{% url 'habitats-list' %}?${data.type}=${data.area_id}`);
				$("#checklistdownload").on("click", function () {
					download_csv_url(`{% url 'observations-taxon-detailed-check-list' %}?${data.type}=${data.area_id}&format=csv&no_page`,"BioSTREAM_specie_checklist_table.csv");
				});
			}				
		});
	</script>
	<script>
	
		$('.main-body').on('click','button.btn-habitat',function(evt){
			var habitat = this.id;
			$.ajax({
				type: 'GET',
				url: `{% url 'habitats-check-list'%}?format=json&cod=${this.id}`,
				context: this
			}).done(function (habResp) {
				window.open(habResp.results[0].website);
				{% comment %}
				new bootModal(`Habitat ${habitat}`,`<h6>${habResp.results[0].desc}</h6><iframe id="myFrame" src="${habResp.results[0].website}" style="height:380px;width:100%"></iframe>`,"habitat_modal").show();
				$('.modal-content').resizable(
					{minWidth: 625,minHeight: 700,handles: 'e, w,s,n,ne,nw,se,sw'}
				).draggable(
					{handle: '.modal-header'}
				);
				$("[name='dynamiccustommodal']").css({
					"position": "fixed",
					"top": "50%",
					"left": "50%",
					"width": "625",
					"height": "700",
					"transform": "translate(-50%, -50%)",
					"padding": "0 !important"					
				}).removeClass('modal');
				{% endcomment %}

			});
		});
	</script>
{% endblock bottom_scripts %}