{% extends 'base_nologo.html' %}

{% load static %}
{% load geojson_tags %}

<!--
-----------------
	MAIN MENU
-----------------
-->
{% block extra_head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'site/css/ol.css' %}" />
	<link rel="stylesheet" href="{% static 'site/css/ol-ext.css' %}" />
	<link rel="stylesheet" href="{% static 'site/css/ol-layerswitcher.css' %}" />
	<link rel="stylesheet" href="{% static 'site/css/datatables.css' %}">
	<link rel="stylesheet" href="{% static 'site/css/nouislider.css' %}">
	<link rel="stylesheet" href="{% static 'site/css/bootstrap-toggle.css' %}">
	<link rel="stylesheet" href="{% static 'site/css/gis.css' %}" />

{% endblock extra_head %}

{% block main_menu %}
	{% include "_navbar.html" with active_link='gis' %}
{% endblock main_menu %}

{% block centered_container %}
{{ block.super}}
<h1>WebGIS <button type='button' class='btn btn-sm btn-primary notauthorizedalert' {%if user.is_staff %} style="visibility:hidden;"{%endif%}><span><i class="fas fa-exclamation-triangle"></i></span></button> </h1>
	<div class="row">

		<!-- Specie info Modal -->
		<div class="modal fade" id="modal-speciefilter" tabindex="-1" role="dialog" aria-labelledby="modal-specieinfo" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">Filtri gobali</h3>
						<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div id="modal-body" class="modal-body">
						<h5 class="sidebar-header">Filtri temporali</h3>
						<div class="row">
							<div class="col-1">
							</div>
							<div class="col-11">
								<p><strong>Anni</strong>
									<div class="slider globalfilter-years" id="select_year"></div>
								</p>
								<p><strong>Mesi</strong>
									<div class="slider globalfilter-months" id="select_month"></div>
								</p>
							</div>
							<div class="col-1">
							</div>
						</div>
						</br>
						<div class="row">
							<h5 class="sidebar-header">Dataset</h3>
							<div class="col-12">
								{% for key, value in dataorigins_regions.items %}
								<button type="button" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#demo-{{key}}">Dataset {{key}}</button>
								<div id="demo-{{key}}" class="collapse">
								</br>
								
								<formset>
									<label><input type="checkbox" class="datasets_checkall" id="{{key}}_datasets" checked />
									Seleziona tutti</label>
									<p>
									{%for dataset in value%}
									<label><input type="checkbox" class="globalfilter-dataset" id="{{dataset.id}}" name="{{key}}_datasets" value="1" checked/> {{dataset.origin_name}}</label>
									{%endfor%}
									</p>
								</formset>
								</div>
								{% endfor %}
							</div>
						</div>
						</br>
						<div class="row">
							<h5 class="sidebar-header">Basi delle osservazioni</h3>
							<div class="col-12">
								<formset>
									<label><input type="checkbox" class="baseoss_checkall" id="baseoss_checkall" checked />
									Seleziona tutti</label>
									<p>
									{%for base in baseoss %}
									<label><input type="checkbox" class="globalfilter-baseoss" id="{{base.code}}" name="baseoss_checkall" value="1" checked/> {{base.description}}</label>
									{%endfor%}
									</p>
								</formset>
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id='filter-apply'>Applica filtri</button>
						<button type="button" class="btn btn-default" id='filter-reset'>Resetta filtri</button>
						<button type="button" class="btn btn-default" data-bs-dismiss="modal">Chiudi</button>
					</div>
				</div>
			</div>	
		</div>

		<div class="col-12">
			<div class="row text-left">
				<div class="col-10 py-3">
					<input type="checkbox" id="onlyhabitat" name="onlyhabitat">
					<label for="onlyhabitat">Solo specie dir. Habitat</label><br>
					<select class="mid-selector" id="select-specie" name="state">
						<option></option>
					</select>
					oppure cerca per area disegnata <button id="drawToggle" type='button' class='btn btn-primary btn-small' style="padding: .4em;"><i class='fas fa-draw-polygon' id='polygon-draw-icon' style="font-size:2em;"></i></button>
				</div> 
			</div>
			<div id="map" class="map" tabindex="1" crossOrigin = "Anonymous"></div>
			<!-- Specie info tooltip for points -->
			<div id="tooltip-specie-point" class="ol-tooltip">
				<div id="tooltip-specie-point-content"></div>
			</div>
			<div id="info">&nbsp;</div>
			<div class="loading" style="display: none;"><p></p><span></span></div>
		</div>
	</div>
	<!-- TABLE FOR SPECIES DETAILS -->
	<div class="row">
		<div class="container" id="table-container">
			<div class="row" id='ultratable-container' style="visibility:hidden;"> 
				<div class="col-sm-12 col-lg-12 col-md-12">
				<table id="ultratable" class="table table-striped" style="width:100%" data-server-side="true" >
					<thead>
					<tr>
						<th data-data="taxon">Specie</th>
						<th data-data="rank">Classe</th>
						<th data-data="habitatprotection">Dir. Habitat</th>
						<th data-data="dataorigin_institution_name">Fornitore</th>
						<th data-data="dataorigin_name">Dataset di origine</th>
						<th data-data="baseoss">Base osservazione</th>
						<th data-data="date_year">Anno</th>
						{% if not user.is_staff %}						
						<th data-data="coord_resampled_precis_m">Precisione (m)</th>
						<th data-data="latitude_wgs84_imp">Latitudine (WGS84)</th>
						<th data-data="longitude_wgs84_imp">Longitudine (WGS84)</th>
						{% endif %}
						{% if user.is_staff %}
						<th data-data="date_month">Mese</th>
						<th data-data="sampling_method">Metodo di campionamento</th>
						<th data-data="coord_precision">Precisione nella localizzazione</th>
						<th data-data="latitude_wgs84">Latitudine (WGS84)</th>
						<th data-data="longitude_wgs84">Longitudine (WGS84)</th>
						{% endif %}
						<th data-data="uri">URI</th>
					</tr>
					</thead>
				</table>
				</div>
			</div>
		</div>
	</div>

    <!-- Specie info Modal -->
	<div class="modal fade" id="modal-specieinfo" tabindex="-1" role="dialog" aria-labelledby="modal-specieinfo" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div id="modal-body" class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>	
	</div>
	<!-- /.modal -->
	<!--<div id="popup" class="popup">
		<a href="/" id="popup-closer">Chiudi</a>
		<div id="popup-content"></div>
	</div> -->	
	<!-- Content of the menu -->
	<div id="menu">
	{% if user.datarequest_added_related.all and not user.is_staff %}
		<h3>Attenzione</h3>
		<p style="border-bottom:1px solid #999;">
			La visualizzazione dei dati precisi è limitata alla presenza di una richiesta validata!
		</p>
	{%else%}
		<!-- <h3>Info</h3> -->
	{%endif%}
		<div class="data"></div>
	</div>
{% endblock centered_container %}

{% block bottom_scripts %}
	{{ block.super }}
	<!-- Alerts -->
	<script>
		$('.notauthorizedalert').on('click',function(){
			new bootModal("Utente non autenticato","<p><strong>Attenzione</strong>: la precisione di qualsiasi osservazione di specie prioritarie protette è troncata alla seconda cifra decimale delle coordinate WGS84.</p><p>Di conseguenza, le eventuali osservazioni puntiformi visualizzate/scaricate non corrispondono alla localizzazione delle osservazioni originali per le specie di cui sopra.</p><p>Tuttavia, l'osservazione originale ricade all'interno dell'area del cerchio che ha per centro la localizzazione visualizzata e raggio uguale al campo <code>coord_resampled_precis_m</code> (in metri)</p></br><p>Per richiedere dati di dettaglio, si prega di far riferimento al form 'Richiesta dati di dettaglio' disponibile previa registrazione dell'utente: in alternativa, contattare un Fornitore/Gestore dei dati.</p>").show();
		});
	</script>	
	<!-- Loader -->
    <script>
		var tableDestroy = function(tableID) {
			$('#ultratable-container').css('visibility','hidden');
			$('.speciedownloadtablerow').remove();
			if ( $.fn.DataTable.isDataTable( '#' + tableID ) ) {
				$('#' + tableID).DataTable().clear().destroy();
			};
		}

		var disableDraw = function() {
			$('#polygon-draw-icon').css('color','white');
			map.removeInteraction(draw);
			map.removeControl(clearFeaturesControl);
			tableDestroy('ultratable');
			map.removeOverlay(helpTooltip);
			map.removeOverlay(measureTooltip);
			$('.ol-tooltip-static').remove();
		}
    </script>
	<script>
		loadToggle(true);
		$(document).ready(function() {
			loadToggle(false);
		});
	</script>
	<script type="text/javascript" src="{% static 'site/js/select2.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/bootstrap-toggle.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/ol.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/proj4.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/ol-ext.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/filesaver.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/nouislider.js' %}"> </script>
	<script type="text/javascript" src="{% static 'site/js/speciepoint.js' %}"> </script>

	<!-- DATATABLE -->
	<script type="text/javascript" src="{% static 'site/js/datatables.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/datatables-bootstrap4.js' %}"></script>	
	<script type="text/javascript" src="{% static 'site/js/datatables-fixedheader.js' %}"></script>

	<!-- GIS -->
	<script type="text/javascript" src="{% static 'site/js/utilities.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/draw.js' %}"></script>

	<!-- USEFUL GLOBAL VARIABLES -->
	<script>
		proj4.defs('EPSG:3035',
		'+proj=laea +lat_0=52 +lon_0=10 +x_0=4321000 +y_0=3210000 +ellps=GRS80 +units=m +no_defs ');
		ol.proj.proj4.register(proj4);
		const mainProjection = ol.proj.get('EPSG:3035');
	</script>

	<!-- FILTRI -->
	<script>
		var sliderYears = document.getElementById('select_year');
		noUiSlider.create(sliderYears, {
			start: [{{year_max}}-20, {{year_max}}],
			step: 1,
			tooltips: [wNumb({decimals: 0}), wNumb({decimals: 0})],
			connect: true,
			range: {
				'min': {{year_max}}-20,
				'max': {{year_max}}
			}		
		});
		var sliderMonths = document.getElementById('select_month');
		noUiSlider.create(sliderMonths, {
			start: [1, 12],
			step: 1,
			tooltips: [wNumb({decimals: 0}), wNumb({decimals: 0})],
			connect: true,
			range: {
				'min': 1,
				'max': 12
			}		
		});
		$('#modal-speciefilter').on('click','.datasets_checkall',function(){
			$('input[name="'+ this.id +'"].globalfilter-dataset').prop('checked', $(this).prop("checked"));
		});
		$('#modal-speciefilter').on('click','.baseoss_checkall',function(){
			$('input[name="'+ this.id +'"].globalfilter-baseoss').prop('checked', $(this).prop("checked"));
		});

		var getFilters = function() {
			var filters = {}
			filters["years"] = sliderYears.noUiSlider.get().map(a=>parseInt(a));
			filters["months"] = sliderMonths.noUiSlider.get().map(a=>parseInt(a));
			filters["baseoss"] = []
			filters["baseoss"].push($('input:checked.globalfilter-baseoss').map(function(){return(this.id)}).get().join());
			filters["datasets"] = []
			$('.datasets_checkall').each(function(key,value){
				filters["datasets"].push($('input[name="'+value.id+'"]:checked.globalfilter-dataset').map(function(){return(this.id)}).get());
			});
			filters["datasets"] = [].concat.apply([], filters["datasets"]).join();
			return(filters);
		};


		var newsrc;
		var composeFilters = function(filters) {
			return(`&year_min=${filters["years"][0]}&year_max=${filters["years"][1]}&month_min=${filters["months"][0]}&month_max=${filters["months"][1]}&datasets=${filters["datasets"].replace(/"/g,'')}`);
		};
			
		$('#modal-speciefilter').on('click','#filter-apply',function(){
			const pointLayers = [...speciesPointLayers.getLayers().getArray()];
			pointLayers.forEach(lyr => {
				var urlSource = lyr.get('url') + composeFilters(getFilters());
				console.log(composeFilters(getFilters()));
				console.log(lyr.get('url') + composeFilters(getFilters()));

				var speciesPointLayer = createPointSpeciesVectorLayer(lyr.get('title'), lyr.get('rank'), urlSource,lyr.get('colors')[0],lyr.get('colors')[1]);
				speciesPointLayer.filters = composeFilters(getFilters());
				speciesPointLayer.newSource = speciesPointLayer.getSource();
				speciesPointLayers.getLayers().remove(lyr);
				speciesPointLayers.getLayers().extend([speciesPointLayer]);
			});

			const layers = [...speciesLayers.getLayers().getArray()];
			layers.forEach(lyr => {
				var urlSource = lyr.get('url') + composeFilters(getFilters());
				var speciesBoxLayer = createBoxSpeciesVectorLayer(lyr.get('title'), lyr.get('rank'), urlSource,lyr.get('colors')[0],lyr.get('colors')[1]);
				speciesBoxLayer.filters = composeFilters(getFilters());
				$(document).ready(function() {
					var spcSrc = speciesBoxLayer.getSource();
					speciesBoxLayer.newSource = spcSrc;
					speciesBoxLayer.setSource(
						new ol.source.HexBin({
							source: spcSrc,
							size: {% if user.is_staff %}getSizeFromZoom(map.getView().getZoom()){%else%}10000{%endif%},
						})
					);
				});
				speciesLayers.getLayers().remove(lyr);
				speciesLayers.getLayers().extend([speciesBoxLayer]);
			});
		});

		$('#modal-speciefilter').on('click','#filter-reset',function(){
			$('#modal-speciefilter input').prop('checked',true);
			sliderYears.noUiSlider.reset();
			sliderMonths.noUiSlider.reset();
		});

	</script>
	<!-- MAIN -->
	<script>
		var baseLayers = new ol.layer.Group({
			title: 'Sfondi',
			noSwitcherDelete: true,
			layers: [
				new ol.layer.Tile({
					title: "Satellite",
					baseLayer: true,visible: true,allwaysOnTop: true,noSwitcherDelete: true,
					source: new ol.source.XYZ({
						attributions: ['Sfondo satellitare by Esri'],
						attributionsCollapsible: true,
						url: 'https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
						maxZoom: 23,
						crossOrigin: 'anonymous'
					})
				}),
				new ol.layer.Tile({
					title: "OSM",
					baseLayer: true,visible: false,allwaysOnTop: true,noSwitcherDelete: true,
					source: new ol.source.OSM({crossOrigin: 'anonymous',maxZoom:17}),
				}),			
				new ol.layer.Tile({
					title: "Etichette",
					allwaysOnTop: true,noSwitcherDelete: true,
					source: new ol.source.Stamen({ layer: 'terrain-labels', crossOrigin: 'anonymous' })
				}),
				new ol.layer.Tile({
					title: "Regioni italiane",
					allwaysOnTop: false,noSwitcherDelete: true,visible: false,queryable: true,
					layerkind: 'tile-wms',
        			source: new ol.source.TileWMS({
        				url: 'https://biostreamportal.net/geoserver/biostream_main/wms',
						params: {
							'FORMAT': "image/png", 
							'VERSION': '1.1.1',
							tiled: true,
							"LAYERS": 'biostream_main:it_regioni',
							"exceptions": 'application/vnd.ogc.se_inimage',
							crossOrigin: 'anonymous'
          				}
	        		})
      			}),
				new ol.layer.Tile({
					title: "Province italiane",
					allwaysOnTop: false,noSwitcherDelete: true,visible: false,queryable: true,
					layerkind: 'tile-wms',
        			source: new ol.source.TileWMS({
        				url: 'https://biostreamportal.net/geoserver/biostream_main/wms',
						params: {
							'FORMAT': "image/png", 
							'VERSION': '1.1.1',
							tiled: true,
							"LAYERS": 'biostream_main:it_province',
							"exceptions": 'application/vnd.ogc.se_inimage',
							crossOrigin: 'anonymous'
          				}
	        		})
      			}),				  
				new ol.layer.Tile({
					title: "Comuni",
					allwaysOnTop: true,noSwitcherDelete: true,visible: false,queryable: true,
					layerkind: 'tile-wms',
        			source: new ol.source.TileWMS({
        				url: 'https://biostreamportal.net/geoserver/biostream_main/wms',
						params: {
							'FORMAT': "image/png", 
							'VERSION': '1.1.1',
							tiled: true,
							"LAYERS": 'biostream_main:biostream_area_comuni',
							"exceptions": 'application/vnd.ogc.se_inimage',
							crossOrigin: 'anonymous'
          				}
	        		})
      			}),
				new ol.layer.Tile({
					title: "Habitat Natura 2000",
					allwaysOnTop: true,noSwitcherDelete: true,visible: false,queryable: true,
					layerkind: 'tile-wms',
        			source: new ol.source.TileWMS({
        				url: 'https://biostreamportal.net/geoserver/biostream_main/wms',
						params: {
							'FORMAT': "image/png", 
							'VERSION': '1.1.1',
							tiled: true,
							"LAYERS": 'biostream_main:habitat_natura2000',
							"exceptions": 'application/vnd.ogc.se_inimage',
							crossOrigin: 'anonymous'
          				}
	        		})
      			}),
				new ol.layer.Tile({
					title: "Siti Natura 2000",
					allwaysOnTop: true,noSwitcherDelete: true,visible: false,queryable: true,
					layerkind: 'tile-wms',
        			source: new ol.source.TileWMS({
        				url: 'https://biostreamportal.net/geoserver/biostream_main/wms',
						params: {
							'FORMAT': "image/png", 
							'VERSION': '1.1.1',
							tiled: true,
							"LAYERS": 'biostream_main:sites_n2k',
							"exceptions": 'application/vnd.ogc.se_inimage',
							crossOrigin: 'anonymous'
          				}
	        		})
      			}),					  			  
				new ol.layer.Tile({
					title: "Aree tampone Dolomiti UNESCO",
					allwaysOnTop: true,noSwitcherDelete: true,visible: false,queryable: false,
					layerkind: 'tile-wms',
        			source: new ol.source.TileWMS({
        				url: 'https://biostreamportal.net/geoserver/biostream_main/wms',
						params: {
							'FORMAT': "image/png", 
							'VERSION': '1.1.1',
							tiled: true,
							"LAYERS": 'biostream_main:alps_dolomites_unesco_buffer',
							"exceptions": 'application/vnd.ogc.se_inimage',
							tilesOrigin: 4384887.99230349 + "," + 2552980.55028106,
							crossOrigin: 'anonymous'
          				}
	        		})
      			}),				  				
				new ol.layer.Tile({
					title: "Dolomiti UNESCO",
					allwaysOnTop: true,noSwitcherDelete: true,visible: false,queryable: false,
					layerkind: 'tile-wms',
        			source: new ol.source.TileWMS({
        				url: 'https://biostreamportal.net/geoserver/biostream_main/wms',
						params: {
							'FORMAT': "image/png", 
							'VERSION': '1.1.1',
							tiled: true,
							"LAYERS": 'biostream_main:alps_dolomites_area',
							"exceptions": 'application/vnd.ogc.se_inimage',
							tilesOrigin: 4384887.99230349 + "," + 2552980.55028106,
							crossOrigin: 'anonymous'
          				}
	        		})
      			})			
			]
		});

		// Container for species layer 
		var speciesLayers = new ol.layer.Group({
			title: "<em>Taxa</em>",
			allwaysOnTop: true,noSwitcherDelete: true,
		});

		// Container for point species layer 
		var speciesPointLayers = new ol.layer.Group({
			title: "<em>Taxa (punti)</em>",
			allwaysOnTop: true,noSwitcherDelete: true,
			{% if user.is_staff or user.datarequest_added_related %}
			displayInLayerSwitcher: true, 
			{% else%}
			displayInLayerSwitcher: false 
			{%endif%}
		});

		// The Map
		const unescoLonLat = [12.1342377, 46.5377684];
		var map = new ol.Map({
			target: 'map',
			view: new ol.View({
				zoom: 8,
				center: ol.proj.transform(unescoLonLat, 'EPSG:4326', 'EPSG:3035'),
				projection: mainProjection
			}),
			layers: [baseLayers, speciesPointLayers, speciesLayers]
		});
		// Maschera
		var maskJson = getJson("{% static 'json/mask.json' %}");
		var coords = maskJson.features[0].geometry.coordinates;
		var maskLayer = new ol.Feature(new ol.geom.MultiPolygon(coords));
		map.getView().fit(maskLayer.getGeometry().getExtent(), map.getSize());
		var mask = new ol.filter.Mask({ feature: maskLayer, inner:false, fill: new ol.style.Fill({ color:[255,255,255,0.5] }) });
		// Maschera tutti i layer con l'extent del progetto
		baseLayers.getLayers().getArray().forEach(function(lyr){
			lyr.addFilter(mask);
		});

		// Barra di scala
		var scaleLineControl = new ol.control.ScaleLine();
		map.addControl(scaleLineControl);

		// Barre degli strumenti
		var mainbar = new ol.control.Bar();
		mainbar.setPosition('bottom');
		map.addControl(mainbar);

		var secondbar = new ol.control.Bar();
		secondbar.setPosition('top');
		map.addControl(secondbar);

		// Controllo per la ricerca della località 
		var searchControl = new ol.control.SearchNominatim (
			{	//target: $(".options").get(0),
				polygon: $("#polygon").prop("checked"),
				label: 'Cerca',
				placeholder: 'Cerca...',
				reverse: true,
				position: true	// Search, with priority to geo position
			});
		searchControl.on('select', function(e) {
			map.getView().animate({
				center:e.coordinate,
				zoom: Math.max (map.getView().getZoom(),16) // Quando clicco sulla località cercata, zoomo su questa

			});
		});
		secondbar.addControl(searchControl);

		var toggleMaskControl = new ol.control.Button ({
			html: '<i class="fas fa-mask"></i>',
			className: "toggleMask",
			title: 'Attiva/disattiva la maschera',
			handleClick: function()
			{
				(mask.get('active') ? mask.set('active',false) : mask.set('active',true)); 
			}
		});
		mainbar.addControl(toggleMaskControl);

		mainbar.addControl (new ol.control.ZoomToExtent({
			tipLabel:"Zooma alla massima estensione",
			extent: maskLayer.getGeometry().getExtent()
		}));
		mainbar.addControl (new ol.control.FullScreen({tipLabel: "Attiva/Disattiva la modalità Schermo Intero"}));
		mainbar.addControl (new ol.control.Rotate({tipLabel: "Resetta rotazione"}));

		// Layer Switcher 
		var layerSwitcherControl = new ol.control.LayerSwitcher({
			show_progress: false,extent: false,
			trash: true,reordering: false,
			collapsed: true
        });
		map.addControl(layerSwitcherControl);

		// When switcher is drawn hide/show the list item according to its visility
		layerSwitcherControl.on('drawlist', function(e) {
			// Dont't want to show layerinfo icon
			$(e.li).find(".layerInfo").remove();
			// Hide Layer Group with no layers visible
			if (e.layer.getLayers) {
				if (e.layer.get('noLayer')) {
					$(e.li).hide();
				} else {
					$(e.li).show();
				}
			} else {
				// Coloro il titolo del layer
				var rex = new RegExp(search.val());
				if (rex.test(e.layer.get('title'))) {
					if(e.layer.get('colors')) {
						var lab = $(e.li).find("label");
						lab.parent().prepend("<button type='button' class='btn btn-primary speciedownload'><i class='fas fa-download' id='" + e.layer.get('title')  + "' rank='"+e.layer.get('rank') + "'></i></button>");
						lab.parent().prepend("<button type='button' class='btn btn-primary specieinfo'><i class='fas fa-info-circle' id='" + e.layer.get('title')  + "'></i></button>");
						// Color layer labels depending on layer color (species)
						lab.css({
							"background-color": (e.layer.get('colors')[1]).replace(/[^,]+(?=\))/, 1),
							"color": 'white'
						});
					} else {
						if(e.layer.get('layerkind') == 'tile-wms') {
							//Draw legend near layer?
							//$(e.li).find("label").prepend("<i> <img src='https://biostreamportal.net/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=" + e.layer.getSource().params_.LAYERS + "'</img></i>");					
						}
					};
					if(baseLayers.getLayers().getArray().includes(e.layer)) {
						// Se il layer è di base, non voglio che si possa spostare
						$(e.li).find(".layerup").remove();	
					}
					$(e.li).show();
				} else {
					// do not filter out elements in base layers
					if(baseLayers.getLayers().getArray().includes(e.layer)) {} else {$(e.li).hide();};
				}
			}
		});

		// Interazione per le griglie: quando ci clicco sopra vengono mostrati i dati che la griglia contiene nella tabella
		var selectInteractionForGrids = new ol.interaction.Select({
			hitTolerance: 5,
			multi: false,
			layers: function(layer) {
				return (layer.get('geotype') == 'grid' && layer.getVisible());
			},
			condition: ol.events.condition.singleClick
		});
		var fea;
		selectInteractionForGrids.on('select',function(e) {
			var feat = e.target.getFeatures().getArray()[0];
			if(feat) {
				fea = e;
				var specie = feat.values_.features[0].taxon;
				var taxonName = selectInteractionForGrids.getLayer(e.selected[0]).get('title');
				var taxonRank = selectInteractionForGrids.getLayer(e.selected[0]).get('rank');

				var geojsonfeat = (new ol.format.GeoJSON()).writeFeatures([new ol.Feature(feat.getGeometry().clone().transform('EPSG:3035', 'EPSG:4326'))]);				
				geojsonfeat = JSON.parse(geojsonfeat);
				geojsonfeat.features[0].geometry.coordinates[0].pop().pop();
				geojsonfeat.features[0].geometry.coordinates[0].push(geojsonfeat.features[0].geometry.coordinates[0][0]);
				var featuresUrl = "{% url 'observation-list' %}?rank=" + taxonRank.toUpperCase() + "&taxon=" + taxonName + "&geometry=" + JSON.stringify(geojsonfeat.features[0].geometry) + "&format=datatables";				
				createUltraTable(featuresUrl);				
			} else if (feat==undefined && $.fn.DataTable.isDataTable('#ultratable')) {
				tableDestroy('ultratable');
			};
		});
		var selectControl = new ol.control.Toggle({
			html: '<i class="far fa-hand-paper"></i>',
			className: "select",
			title: "Selettore",
			interaction: selectInteractionForGrids,
			active: true,
			onToggle: function(active){ }
		});
		mainbar.addControl(selectControl);
  
		/* Draw */
		map.addLayer(drawVector);

		var clearFeaturesControl = new ol.control.Button ({
			html: '<i class="fas fa-broom"></i>',
			className: "toggleMask",
			title: 'Pulisci il disegno',
			handleClick: function() {
				drawSource.clear();
				$('.ol-tooltip-static').remove();
				tableDestroy('ultratable');
			}
		});

		///////
		// COSTRUZIONE E RIMOZIONE DEL POLIGONO DI RICERCA GENERALE 
		// 1) creo le funzioni utili alla costruzione dei tooltip (messaggi di aiuto durante il disegno)
		// 2) aggancio i tooltip agli eventi di inizio e fine disegno
		///////

		$('#drawToggle').click(function() {
			if($(this).children().css('color')=="rgb(124, 252, 0)") {
				disableDraw();
				setTimeout(function() { drawSource.clear(); }, 1000);
			} else {

				$(this).children().css('color','lawngreen');
				clearSelection();

				function createHelpTooltip() {
					if (helpTooltipElement) {
						helpTooltipElement.parentNode.removeChild(helpTooltipElement);
					}
					helpTooltipElement = document.createElement('div');
					helpTooltipElement.className = 'ol-tooltip hidden';
					helpTooltip = new ol.Overlay({
						element: helpTooltipElement,
						offset: [15, 0],
						positioning: 'center-left'
					});
					map.addOverlay(helpTooltip);
				}
				function createMeasureTooltip() {
					if (measureTooltipElement) {
						measureTooltipElement.parentNode.removeChild(measureTooltipElement);
					}
					measureTooltipElement = document.createElement('div');
					measureTooltipElement.className = 'ol-tooltip ol-tooltip-measure';
					measureTooltip = new ol.Overlay({
						element: measureTooltipElement,
						offset: [0, -15],
						positioning: 'bottom-center'
					});
					map.addOverlay(measureTooltip);
				}							
				draw = new ol.interaction.Draw({
					source: drawSource,
					type: 'Polygon',
					stopClick: true
				});

				var listener;
				draw.on('drawstart',
					function(evt) {
					sketch = evt.feature;

					/* @type {import("../src/ol/coordinate.js").Coordinate|undefined} */
					var tooltipCoord = evt.coordinate;

					listener = sketch.getGeometry().on('change', function(evt) {
						var geom = evt.target;
						var output;
						if (geom instanceof ol.geom.Polygon) {
							output = formatArea(geom);
							tooltipCoord = geom.getInteriorPoint().getCoordinates();
						} else if (geom instanceof ol.geom.LineString) {
							output = formatLength(geom);
							tooltipCoord = geom.getLastCoordinate();
						}
						measureTooltipElement.innerHTML = output;
						measureTooltip.setPosition(tooltipCoord);
					});
				});

				draw.on('drawend',function(e){
					{% if user.is_staff %}
					const pointLayerstree = [...speciesPointLayers.getLayers().getArray()];
					pointLayerstree.forEach(lyr => {
						if(lyr.get('title') == 'Area disegnata') {
							speciesPointLayers.getLayers().remove(lyr);
						}
					});
					{% endif %}

					measureTooltipElement.className = 'ol-tooltip ol-tooltip-static';
					measureTooltip.setOffset([0, -7]);
					sketch = null;
					measureTooltipElement = null;
					createMeasureTooltip();
					ol.Observable.unByKey(listener);
					var feature;
					if(e.features) {
						feature = e.features[0];
					} else{
						feature = e.feature;
					};
					if(e.feature.getGeometry().getArea()>=100000000) {
						new bootModal("Area troppo grande","<p><strong>Attenzione</strong>: area disegnata troppo grande. Si prega di limitare la propria ricerca ad un'area di non più di 100km<sup>2</sup></p>").show();
						disableDraw();
						setTimeout(function() { drawSource.clear(); }, 1000);
						
					} else {

						var geojsonfeat = (new ol.format.GeoJSON()).writeFeatures([new ol.Feature(feature.getGeometry().clone().transform('EPSG:3035', 'EPSG:4326'))]);
						geojsonfeat = JSON.parse(geojsonfeat);
						var featuresTableUrl = "{% url 'observation-list' %}?geometry=" + JSON.stringify(geojsonfeat.features[0].geometry) + "&format=datatables&limit=true";				
						createUltraTable(featuresTableUrl);

						{% if user.is_staff%}
						var featuresUrl = "{% url 'observation-point-taxon-list' %}?geometry=" + JSON.stringify(geojsonfeat.features[0].geometry) + "&format=json&limit=10000";				
						var pointLayer = createPointMultipleSpeciesVectorLayer('Area disegnata',featuresUrl);
						const pointLayerstwo = [...speciesPointLayers.getLayers().getArray()];
						
						var found = false;
						pointLayerstwo.forEach(lyr => {
							if(lyr.get('title') == 'Area disegnata') {
								speciesPointLayers.getLayers().remove(lyr);
								speciesPointLayers.getLayers().extend([pointLayer]);
								found = true;
							}
						});
						if(!found) {
							speciesPointLayers.getLayers().extend([pointLayer]);
						}
						setTimeout(function() { drawSource.clear(); }, 1000);						
						$('#polygon-draw-icon').css('color','white');
						map.removeInteraction(draw);
						map.removeControl(clearFeaturesControl);
						map.removeOverlay(helpTooltip);
						map.removeOverlay(measureTooltip);
						$('.ol-tooltip-static').remove();

						map.on('pointermove',function(evt){

							// TOOLTIP PER PUNTI SPECIE
							var tooltipContainer = document.getElementById('tooltip-specie-point');
							var tooltipContent = document.getElementById('tooltip-specie-point-content');

							var tooltipSpecie = new ol.Overlay({
								element: tooltipContainer,
								autoPan: true,
								autoPanAnimation: {
								duration: 250
								}
							});
							map.addOverlay(tooltipSpecie);
							var taxon = '';
							
							// Coloro il punto in base alla direttiva habitat
							var feature = map.forEachFeatureAtPixel(evt.pixel, function(feature) {
								if (feature.get('taxmain')) {
									var habitat = feature.get('habitatdir');
									tooltipContainer.style.visibility = "visible";
									tooltipContainer.style.background = "rgba(233, 71, 24, 1)"
									taxon = feature.get('taxmain');
									iucn = feature.get('iucn');
									var crds = evt.coordinates;
									if(typeof habitat === 'undefined' || habitat === null  || habitat=='') {
										tooltipContent.innerHTML = "<p style='font-weight: bold; color: "+ habclassescolors[habclasses.length-1] + "'><em>" + taxon + ((iucn='' || typeof iucn === 'undefined' || iucn == null) ? "" : " (" + iucn +") ") + "</em></p>";
									} else {
										tooltipContent.innerHTML = "<p style='font-weight: bold; color: "+ habclassescolors[habclasses.indexOf(habitat)] + "'><em>" + taxon + ((iucn='' || typeof iucn === 'undefined' || iucn == null) ? "" : " (" + iucn +") ") + "</em></p>";
									}
									// Mostro il tooltip, eventualmente colorato, con il nome della specie
									tooltipSpecie.setPosition(feature.getGeometry().getCoordinates());
									return feature;
								};
							});
							if (!feature && (taxon !== '')) {
								taxon = '';
								tooltipSpecie.setPosition(undefined);
							};

						});
						{% endif %}
					}		
				});
				
				map.addInteraction(draw);  

				// Interazione per creare un poligono di interrogazione
				createMeasureTooltip();
				createHelpTooltip();

				// Helper tooltip
				var pointerMoveHandler = function(evt) {
					if (evt.dragging) {
						return;
					}
					var helpMsg = 'Clicca per iniziare a disegnare';
					if (sketch) {
						var geom = sketch.getGeometry();
						helpMsg = continuePolygonMsg;
					}
					helpTooltipElement.innerHTML = helpMsg;
					helpTooltip.setPosition(evt.coordinate);
					helpTooltipElement.classList.remove('hidden');
				};
				map.on('pointermove', pointerMoveHandler);
				map.getViewport().addEventListener('mouseout', function() {
					helpTooltipElement.classList.add('hidden');
				});	

				mainbar.addControl(clearFeaturesControl);				
			}
		});

		// Mostra il modal con i filtri 
		var setFiltersControl = new ol.control.Button ({
			html: '<i class="fas fa-filter"></i>',
			className: "toggleMask",
			title: 'Mostra filtri globali',
			handleClick: function() {
				$("#modal-speciefilter").modal('show');
			}
		});		
		mainbar.addControl(setFiltersControl);

		// FEATUREINFO
		map.on('singleclick', function(evt) {
			var viewProjection = map.getView().getProjection();
			// var viewResolution = view.getResolution();			
			document.getElementById('info').innerHTML = '';
			var viewResolution = /** @type {number} */ (map.getView().getResolution());
			baseLayers.getLayers().getArray().forEach(function(lyr){
				if(lyr.get('layerkind') == 'tile-wms' & lyr.getVisible() & lyr.get('queryable')) {
					var url = lyr.getSource().getGetFeatureInfoUrl(
						evt.coordinate, viewResolution, viewProjection,
						{'INFO_FORMAT': 'text/html'});
					if (url) {
						fetch(url)
						.then(function (response) { return response.text(); })
						.then(function (html) {
							document.getElementById('info').innerHTML += html;
							$('#info style').remove();
							$('table.featureInfo').addClass('table');
							$('table.featureInfo').find('td').first().remove();
							$('table.featureInfo').find('td').first().remove();
							$('table.featureInfo').find('th').first().remove();
							$('table.featureInfo').find('th').first().remove();
							if(lyr.get('title')=='Habitat Natura 2000') {
								var cod = $('table.featureInfo').find('td').first().html();
								$('table.featureInfo').find('td').first().html(`<button type="button" class="btn btn-primary habitat_description">${cod}</button>`);
							}
						});
					}					
				}
			});
		});


		///////
		// DRAG AND DROP
		///////
		/*
			Controlli utili a permettere all'utente il caricamento del proprio layer KML sulla mappa, tramite
			semplice drag-and-drop sull'extent 
		*/
		var vectorDragSource = new ol.source.Vector({ wrapX: false });
		var vectorDrag = new ol.layer.Vector(
			{	source: vectorDragSource,
				displayInLayerSwitcher: false
			});
		map.addLayer(vectorDrag);

		var dd = new ol.interaction.DropFile(
		{	formatConstructors: [ol.format.GPX,ol.format.KML]
		});
		map.addInteraction (dd);

		var loading = 0;
		dd.on ('loadstart', function (e) 
		{	
			clearSelection();
			loading++; 
			$(".loading").show();
			$(".loading p").html("Caricamento...");
		});
		dd.on ('addfeatures', function(event) 
		{   
			loading--; 
			$(".loading p").html("Caricamento...");
			if(event.features.length>1) {
				$(".loading span").html(event.features.length + ' geometrie');
			} else {
				$(".loading span").html(event.features.length + ' geometria');
			}

			setTimeout(function()
			{	vectorDragSource.addFeatures(event.features);
				
				if (!loading) $(".loading").hide();

				var extent = vectorDragSource.getExtent();
				map.getView().fit(extent, map.getSize());
			},500);
		});

		///////
		// SELEZIONE TASSONOMICA
		///////
		/*
		In questa parte ci occupiamo dell'aggiunta dei layer relativi alla tassonomia, in particolare
			1) di popolare il dropdown di elenco dei taxa
			2) di generare in base al taxon selezionato il layer grigliato
			3) di attivare i controlli che ricreano i grigliati in base allo zoom  
		*/

		// Elenco dei taxa, completi di rango (inserito in un optgroup tramite l'opzione ''"children": [...]' di Select2' )
		$(document).ready(function() {
			$('#select-specie').select2({
				placeholder: 'Inizia a digitare il nome di un taxon...',
				minimumInputLength: 3,
				ajax: {
					url: "{% url 'taxon' %}",dataType: "json",type: "GET",
					data: function (params) {
						// Query parameters will be ?search=[term]&habitat=habitatischecked
						var query = {
							q: params.term,
							habitat: $('#onlyhabitat').is(':checked'),
						}
						return query;
					},
				},
				language: {
					inputTooShort: function () {
						return "Scrivi una unità tassonomica";
  					}
				},
				placeholder: 'Inizia a digitare il nome di un taxon...',
				minimumInputLength: 2,
			});		
		});

		// Quando il taxon viene selezionato dal dropdown, aggiungilo alla mappa
		$('#select-specie').on('select2:select', function (e) {

			var col1 = 'rgb(255, 255, 255, 1)';
			var col2 = getRandomColor(1);
			col2 = col2.replace(/[^,]+(?=\))/, 0.6);
			var taxonName = e.params.data.text;
			var taxonRank = e.params.data.rank;
			var taxon_id = e.params.data.id;

			{% if user.datarequest_added_related and not user.is_staff%}
				var baseUrl = "{% url 'observationvalidatedrequest-list' %}";
			{% else %}
				var baseUrl = "{% url 'observation-point-taxon-list' %}";
			{%endif%}
			var specieUrl = `?rank=${taxonRank}&taxon=${taxonName}&format=json&limit=10000`;

			var speciesBoxLayer = createBoxSpeciesVectorLayer(taxonName, taxonRank, "{% url 'observation-point-taxon-list' %}" + specieUrl,col1,col2);
			{% if user.is_staff or user.datarequest_added_related %}
			var speciesPointLayer = createPointSpeciesVectorLayer(taxonName, taxonRank, baseUrl + specieUrl,col1,col2);
			{% endif %}
			$(document).ready(function() {
				var spcSrc = speciesBoxLayer.getSource();
				speciesBoxLayer.originalSource = spcSrc;
				speciesBoxLayer.newSource = spcSrc;
				speciesBoxLayer.setSource(
					new ol.source.HexBin({
						source: spcSrc,
						size: {% if user.is_staff %}getSizeFromZoom(map.getView().getZoom()){%else%}10000{%endif%},
					})
				);
			});

			speciesLayers.getLayers().extend([speciesBoxLayer]);
			{% if user.is_staff or user.datarequest_added_related %}
			speciesPointLayers.getLayers().extend([speciesPointLayer]);
			{% endif %}
			
			// Pulisce il select della specie dopo che l'utente ha effettuato una selezione
			$("#select-specie").val('').trigger('change')			

		});
		</script>

		<!-- BOTTONI PER INFORMAZIONI / DOWNLOAD -->
		<script>
			// Controllo cosa accade quando clicco sul bottone di info specie
			$('.panel').on('click','button.specieinfo',function(evt){
				evt.preventDefault();
				var taxonName = event.target.id;
				var specUrl = `https://biostreamportal.net/taxonstats/${taxonName}/SPECIES`; // rank
				$.ajax({
					method: "GET",
					url: specUrl, 
					success: function(result) {
						$("#modal-specieinfo").html(result);
						$("#modal-specieinfo").modal('show');
					},
					error: function(result){
						$("#modal-specieinfo").html("<div class='error'><span><b> Nessuna risposta </b></span><p> Riprova più tardi </p></div>");
					}
				});			
			});	

			// Bottone per informazioni sull'origine del dato
			$(document).on('click','.dataorigin-info',function(evt){
				evt.preventDefault();var dataName = $(this).html();var dataNameSafe = dataName.replace(/ /g,'_').toLowerCase();
				var dataUrl = "{% url 'dataorigins-list' %}?format=json&origin_name=" + dataName;
				$.ajax({
					method: "GET",
					url: dataUrl, 
					success: function(result) {
						result = result.results[0];
						var table = "<table class='table' id='datasetdetailtable' class='" + dataNameSafe + "'><tbody>";
						var keys = Object.keys(result);
						{% if user.is_staff %}
						// id, dataorigin_uuid, origin_name, institution_name, where, cartounit, when, what, which, reference, validated, unmasked, species_count, obs_count, species_list
						var namedKeys = ["ID","UUID","Nome","Istituzione","Regione","Provincia","Unità cartografiche","Periodo di riferimento","Contenuto","Descrizione","Riferimento","Validato","Demascherato","Numero specie","Numero osservazioni","Lista specie"]
						{% else %}
						// id, dataorigin_uuid,origin_name, institution_name, cartounit,what, which, reference,species_count, obs_count, species_list
						var namedKeys = ["ID","UUID","Nome","Istituzione","Regione","Provincia","Unità cartografiche","Periodo di riferimento","Contenuto","Descrizione","Riferimento","Numero specie","Numero osservazioni","Lista specie"]
						{% endif %}
						for (var i = 0; i < keys.length; i++) {
							if(i==(keys.length -1)) {
								table = table + "<tr><td><strong>" + namedKeys[i] + "</strong></td><td style='word-break: break-all;'><em>" + 
									result[keys[i]].replace(/, /g, "</em>, <em>"); + "</em></td></tr>"; 
							} else {
								table = table + "<tr><td><strong>" + namedKeys[i] + "</strong></td><td style='word-break: break-all;'>" + result[keys[i]] + "</td></tr>"; 
							}
						};
						table = table + "</tbody></table>";
						new bootModal("Dettaglio dataset <button type='button' class='btn btn-primary' id='datasetdetaildownload'><i class='fas fa-download'></i></button>",table).show();
						document.querySelector("#datasetdetaildownload").addEventListener("click", function () {
							var fileName = 'biostream_datasetdetail_'+ dataNameSafe + '.csv';
							
							fetch(dataUrl.replace('format=json','format=csv'))
							.then(resp => resp.blob())
							.then(blob => {
								const url = window.URL.createObjectURL(blob);
								const a = document.createElement('a');
								a.style.display = 'none';
								a.href = url;
								a.download = fileName;
								document.body.appendChild(a);
								a.click();
								window.URL.revokeObjectURL(url);
							}).catch(() => alert('File non scaricato!'));//.finally(document.getElementById("overlay").style.display = "none");
						});	
					}//,
					//error: function(result){
					//	new bootModal("Dettaglio dataset non trovato!","Si prega di contattare l'amministratore di sistema per segnalare il problema").show();
					//}
				});				
			});

			// Download dei dati della specie, dal layer tree
			$('.panel').on('click','button.speciedownload',function(evt){
				loadToggle(true);
				evt.preventDefault();
				var taxonName = event.target.id;
				var taxonRank = $(this).children().attr('rank');

				var downloadURL = "{% url 'observation-list' %}?rank=" + taxonRank + "&taxon=" + taxonName + "&format=zip&no_page";
				speciesLayers.getLayers().getArray().forEach(function(l){
					if (l.get('title')==taxonName) {
						mainLyr = l;
						
						var fileName = 'biostream_specie_data_' + taxonName.replace(/\ /g,'_').toLowerCase() + '.zip';
						fetch(downloadURL) //  + composeFilters(getFilters())
							.then(resp => resp.blob())
							.then(blob => {
								const url = window.URL.createObjectURL(blob);
								const a = document.createElement('a');
								a.style.display = 'none';
								a.href = url;
								a.download = fileName;
								document.body.appendChild(a);
								a.click();
								window.URL.revokeObjectURL(url);
								loadToggle(false);
							}).catch(() => alert('File non scaricato!'));							
					}
				});
			});

			// Download dati specie, dalla tabella dati
			$('.main-body').on('click','button.speciedownloadtable',function(evt){
				let today = new Date().toISOString().slice(0, 10);			
				var downloadURL = $('#ultratable').DataTable().ajax.url().replace('datatables','csv&no_page');
				loadToggle(true);
				var fileName = `${today}_BioSTREAM_specie_data_table.csv`;
				fetch(downloadURL)
					.then(resp => resp.blob())
					.then(loadToggle(false))
					.then(blob => {
						const url = window.URL.createObjectURL(blob);
						const a = document.createElement('a');
						a.style.display = 'none';
						a.href = url;
						a.download = fileName;
						document.body.appendChild(a);
						a.click();
						window.URL.revokeObjectURL(url);
					}).catch(() => alert('File non scaricato!'));//.finally(document.getElementById("overlay").style.display = "none");										
			});

			// Descrizione habitat
			$('.main-body').on('click','button.habitat_description',function(evt){
				var habitat = this.id;
				$.ajax({
					type: 'GET',
					url: `{% url 'habitats-check-list'%}?format=json&cod=${habitat}`,
					context: this
				}).done(function (habResp) {
					window.open(habResp.results[0].website);
				});
			});		
		</script>

		{% if user.is_staff %}
		<!-- Controllo che permette di usare l'estensione della mappa - e non gli esagoni - per mostrare informazioni sui punti delle specie visualizzate -->
		<script>

			var useExtentForTable = false;
			var useExtentForTableControl = new ol.control.Toggle({	
				html: '<i class="fa fa-bars" ></i>',className: "use-extent-table",title: "Usa estensione per il filtro",
				active: false, onToggle: function() { 
					useExtentForTable = useExtentForTable ? false : true;
					if(useExtentForTable) {
						// min Lon, min Lat, max Lon, max Lat, same as OL extent array
						var mapsize = map.getView().calculateExtent(map.getSize());
						if(speciesLayers.getLayers().getArray().length>0) {
							var taxonName = speciesLayers.getLayers().getArray()[0].get('title');
							var taxonRank = speciesLayers.getLayers().getArray()[0].get('rank');
							var featuresUrl = `
								{% url 'observation-list' %}?rank=${taxonRank}&taxon=${taxonName}&in_bbox=${mapsize[0]},${mapsize[1]},${mapsize[2]},${mapsize[3]}&format=datatables`;
							if($.fn.DataTable.isDataTable( '#ultratable')) {
								var tab = $('#ultratable').DataTable();
								tab.ajax.url(featuresUrl).load();
							} else {
								createUltraTable(featuresUrl);						
							}					}
					}				
				}
			});
			mainbar.addControl(useExtentForTableControl);
			// Modifica la dimensione della griglia esagonale
			var currZoom = map.getView().getZoom();
			map.on('moveend', function(e) {
				var newZoom = map.getView().getZoom();
				if (currZoom != newZoom) {
					speciesLayers.getLayers().getArray().forEach(function(l){
						if (l.get('layerkind')=='specie-grid') {
							clearSelection();
							l.setSource(new ol.source.HexBin({
								source: l.newSource,size: getSizeFromZoom(newZoom)
							}));
						}
					});
					currZoom = newZoom;
				}
				// Modifica i contenuti della tabella in base all'extent della mappa 
				if(useExtentForTable) {
					// min Lon, min Lat, max Lon, max Lat, same as OL extent array
					var mapsize = map.getView().calculateExtent(map.getSize());
					if(speciesLayers.getLayers().getArray().length>0) {
						var taxonName = speciesLayers.getLayers().getArray()[0].get('title');
						var taxonRank = speciesLayers.getLayers().getArray()[0].get('rank');
						var featuresUrl = `
							{% url 'observation-list' %}?rank=${
								taxonRank}&taxon=${taxonName}&in_bbox=${
									mapsize[0]},${mapsize[1]},${mapsize[2]},${mapsize[3]}&format=datatables`;
						if($.fn.DataTable.isDataTable( '#ultratable')) {
							var tab = $('#ultratable').DataTable()
							tab.ajax.url(featuresUrl).load();
						} else {
							createUltraTable(featuresUrl);						
						}
					}
				}
			});	
		</script>
		{% endif %}

		{% comment %}
		{% if user.datarequest_added_related and not user.is_staff%}
		<!-- Aggiunta automatica dei punti relativi alla richiesta dati -->
		<script>

		var requestLayer = new ol.layer.Vector({
			displayInLayerSwitcher: false,
			source: new ol.source.Vector(),
			style: new ol.style.Style({
				stroke: new ol.style.Stroke ({
					color: '#E94718',
					width: 2
				}),
				fill: new ol.style.Fill({
					color: 'rgba(233, 71, 24, 0.2)'
				})
			})
		});
		var format = new ol.format.GeoJSON();

		{% for datarequest in user.datarequest_added_related.all %}
			{%if datarequest.is_accepted%}
			var geoJsonRequest = JSON.parse('{{datarequest.geom|geojsonfeature|safe}}');
			var f = format.readFeature(geoJsonRequest, { dataProjection: "EPSG:4326", featureProjection: map.getView().getProjection() });
			requestLayer.getSource().addFeature(f);
			{%endif%}
		{%endfor%}
		map.addLayer(requestLayer);
	</script>
	{%endif%}
	{% endcomment %}
 	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL,Object.assign"></script>
{% endblock bottom_scripts %}
