{% extends 'base_nologo.html' %}

{% load static %}

{% block extra_head %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'site/css/ol.css' %}" />
	<link rel="stylesheet" href="{% static 'site/css/ol-ext.css' %}" />
	<link rel="stylesheet" href="{% static 'site/css/ol-layerswitcher.css' %}" />
	<link rel="stylesheet" href="{% static 'site/css/bootstrap-toggle.css' %}">
	<link rel="stylesheet" href="{% static 'site/css/gis.css' %}" />
{% endblock extra_head %}

{% block centered_container %}
<!-- Loader -->
<div id="overlay">
  <div class="lds-dual-ring"></div>
</div>
{% endblock centered_container %}

{% block bottom_scripts %}
	{{ block.super }}
	<!-- Loader -->
	<script>
		document.getElementById("overlay").style.display = "block";
		$(document).ready(function() {
			document.getElementById("overlay").style.display = "none";
		});
	</script>
	<script type="text/javascript" src="{% static 'site/js/select2.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/bootstrap-toggle.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/ol.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/proj4.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/ol-ext.js' %}"></script>
	<script type="text/javascript" src="{% static 'site/js/filesaver.js' %}"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL,Object.assign"></script>

    <script>
        // Utility variable, for something I want to drop on browser console
        var consoleVar;
        var featss;
        var geojsonfeat;
    </script>
	<script src="{% static 'site/js/utilities.js' %}"></script>
	<script src="{% static 'site/js/basemap.js' %}"></script>
    <script src="{% static 'site/js/speciepoint.js' %}"></script>
	<script>
		{%if user.is_staff %}
		// Tooltip for specie layer
		map.on('pointermove',function(evt){

			// TOOLTIP PER PUNTI SPECIE
			var tooltipContainer = document.getElementById('tooltip-specie-point');
			var tooltipContent = document.getElementById('tooltip-specie-point-content');

			var tooltipSpecie = new ol.Overlay({
				element: tooltipContainer,autoPan: true,autoPanAnimation: {duration: 250}
			});
			map.addOverlay(tooltipSpecie);
			var taxon = '';
			
			var feature = map.forEachFeatureAtPixel(evt.pixel, function(feature) {
				if (feature.get('taxmain')) {
					tooltipContainer.style.visibility = "visible";
					tooltipContainer.style.background = "rgba(233, 71, 24, 1)"
					taxon = feature.get('taxmain');
					iucn = feature.get('iucn');
					var crds = evt.coordinates;
					var habitat = feature.get('habitatdir');
					if(typeof habitat === 'undefined' || habitat === null  || habitat=='') {
						tooltipContent.innerHTML = "<p style='font-weight: bold; color: "+ habclassescolors[habclasses.length-1] + "'><em>" + taxon + ((iucn='' || typeof iucn === 'undefined' || iucn == null) ? "" : " (" + iucn +") ") + "</em></p>";
					} else {
						tooltipContent.innerHTML = "<p style='font-weight: bold; color: "+ habclassescolors[habclasses.indexOf(habitat)] + "'><em>" + taxon + ((iucn='' || typeof iucn === 'undefined' || iucn == null) ? "" : " (" + iucn +") ") + "</em></p>";
					}
					tooltipSpecie.setPosition(feature.getGeometry().getCoordinates());
					return feature;
				};
			});
			if (!feature && (taxon !== '')) {
				taxon = '';
				tooltipSpecie.setPosition(undefined);
			};

		});
		{%endif%}
    </script>    
{%endblock%}