{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Login{% endblock %}

{% block form_heading %}Login{% endblock %}

{% block form %}
  {% crispy form %}

  <div class="form-message">
    <p>
      Non hai un account? <a href="{% url 'accounts:signup' %}">Registrati</a>!
    </p>
  </div>
{% endblock form %}

