{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Reset password completato{% endblock %}

{% block form_heading %}Email di reset inviata{% endblock %}

{% block form %}
<div class="form-message">
  <p>
    Si prega di controllare la propria casella di posta: dovresti aver ricevuto una mail di reset da parte nostra.
  </p>
</div>
{% endblock form %}

