{% extends "accounts/auth_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Registrati{% endblock %}

{% block form_heading %}Registrazione{% endblock %}

{% block form %}
  {% crispy form %}

  <div class="form-message">
    <p>
      Già registrato? <a href="{% url 'accounts:login' %}">Effettua il login</a>.
    </p>
  </div>
{% endblock form %}

