{% extends 'base.html' %}
{% load static %}


{% block main_menu %}
    {% include "_navbar.html" with active_link="error" %}
{% endblock main_menu %}

{% block centered_container %}
{% block main_content %}
<h1>400 - Richiesta malformata</h1>
<div class="container">
    <p><h3>Il sistema ha riscontrato un errore.</h3></p>
    <p>Se credi che la tua richiesta sia consona ed il problema persiste, si prega di contattare la Fondazione Dolomiti UNESCO (<a href="mailto:info@dolomitiunesco.info">info -at- dolomitiunesco.info</a>)</p>
</div>

{% endblock main_content %}
{% endblock centered_container %}
