table.featureInfo caption {
    color: #E94718;
    font-weight: bold !important;
    font-size: 1rem !important;
    padding-top: .5rem !important;
}
.layerup {
    display: none;
}
.layerInfo{
    display: none !important;
}
.layerswitcher-opacity {
      display:none !important;
}		
.layerswitcher-opacity-label {
      display:none !important;
}
.ol-layerswitcher li .li-content {
    width: 100% !important;
}
.ol-layerswitcher li .li-content label {
    width: 100% !important;
    margin: none !important;
}		
.scroll-thead{
    width: 100%;
    display: inline-table;
}

.scroll-tbody-y
{
    display: block;
    overflow-y: scroll;
}

.table-body{
    height: 15em;
}