.loading {
    background: #fff;
    border: 2px solid #E33A1B;
    left: 50%;
    margin: -2em -100px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 150px;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(227, 58, 27, .5);
}

.ol-popup.ol-fixed {
    top: 5em !important;
}

.ol-popup.default {
    background-color: #fff;
    border: 2px solid rgba(227, 58, 27, 1);
    border-radius: 4px;
}

.ol-popup .ol-popupfeature .ol-zoombt {
    color: rgba(227, 58, 27, .5);
}

.ol-popup.default .anchor:before {
    border-color: #E33A1B transparent;
}

.ol-popup .ol-popupfeature .ol-prev,
.ol-popup .ol-popupfeature .ol-next {
    border-color: transparent rgba(227, 58, 27, .5);
}

.ol-popup h1 {
    font-size: 1em;
    background-size: 2em;
}


.ol-control.ol-bar {
    top: auto !important;
    bottom: 0.5em !important;
}

.ol-control.ol-bar .ol-toggle.ol-active>button {
    background: rgba(136, 0, 0, 0.7);
}

.ol-control {
    background-color: rgba(227, 58, 27, .5);
}

.ol-control>button {
    background-color: rgba(227, 58, 27, .5);
}

.ol-control button:focus,
.ol-control button:hover {
    text-decoration: none;
    background-color: rgba(227, 58, 27, .7);
}

.ol-control.ol-bar .ol-toggle.ol-active button:hover {
    background-color: rgba(227, 58, 27, .7);
}

.ol-scale-line {
    background-color: rgba(227, 58, 27, .5);
}

.map:-moz-full-screen {
    height: 100%;
}

.map:-webkit-full-screen {
    height: 100%;
}

.map:-ms-fullscreen {
    height: 100%;
}

.map:fullscreen {
    height: 100%;
}

.mid-selector {
    width: 40%;
}

.full-selector {
    width: 95%;
}

.toggle.android {
    border-radius: 0px;
}

.toggle.android .toggle-handle {
    border-radius: 0px;
}

.map {
    height: 30em;
    width: 100%;
    margin-bottom: 5px;
}

#map > div > div.ol-overlaycontainer-stopevent > div.ol-layerswitcher.ol-unselectable.ol-control.ol-collapsed {
    height: unset ! important;

}

.ol-overlay.menu
{	width: 20%;
     max-width: 20%;
    background: rgba(255,255,255,0.6);
    color: #333;
    box-shadow: 0px 0px 5px #000;
    padding: 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
/* style the close box */
.ol-overlay.menu .ol-closebox
{	
    color: rgba(233,71,24,1);
    left: 1em;
    top: 0.5em;
}
.ol-overlay.menu .ol-closebox:before
{	content:"\f0c9";
    font-family:FontAwesome;
}
#menu
{	padding-top: 1.5em;
    font-size: 0.9em;
}
/* menu button */
.ol-control.menu
{	top: 2.5em !important;
    left: 0.5em !important;
}
.ol-touch .ol-rotate 
{	right: 3.5em;
}
/**/
.ol-overlay img
{	max-width: 90%;
}
.data,
.data p
{	margin:0;
    text-align: center;
    font-size:0.9em;
}

.ol-control.ol-bar.ol-top {
    top: .5em !important;
    bottom: auto !important;
}	
table.featureInfo caption {
    color: #E94718;
    font-weight: bold !important;
    font-size: 1rem !important;
    padding-top: .5rem !important;
}
.ol-attribution {
    max-width: 40% !important;
}
.btn-primary:focus {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075), 0 0 0 0.2rem rgba(233,71,24,.5) !important;
}

#specieinfo, button {
    display: inline !important;
}
.noUi-connect {
    background: #E94718 !important;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
    right: 0px !important;
    left: auto;
}
.noUi-tooltip {
    visibility: hidden !important;
}
.noUi-touch-area:hover + .noUi-tooltip {
    visibility: visible !important;
}

.ol-tooltip:after, .ol-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-tooltip p {
    margin-top: 0;
    margin-bottom: 0;
}

.ol-tooltip {
    position: absolute;
    background: rgba(233, 71, 24, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 999;
}
.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.ol-tooltip-static {
    background-color: #E33A1B;
    color: black;
    border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(233, 71, 24, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.ol-tooltip-static:before {
    border-top-color: #E33A1B;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #E23A1A;
}
#map > div > div.ol-overlaycontainer-stopevent > div.ol-layerswitcher.ol-unselectable.ol-control.ol-forceopen {
    width: 40% !important;
}