{% load static %}
{% load thumbnail %}
{% load replacewhite %}
{% load addwbr %}

<!-- Has to be dynamically generated at specie insertion -->
<!-- Modal -->
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><em>{{taxon.taxon.canonical_name}}</em> ({{taxon.taxon.rank}})</h3>
        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div class="container profile-body">
          <div class="panel-body">
            <div class="row">
                {% if taxon.taxon.rank == 'SPECIES' %}
                <div class="col-5">

                  <h4>Tassonomia</h4>
                  <ul class="list-group">
                      <li class="list-group-item">
                          <span class="pull-left"><strong>Regno:</strong> <em>{{taxon.taxon.nameusage_set.kingdom_fk.name.canonical_name}}</em></span>
                      </li>
                      {% if taxon.taxon.rank not in 'KINGDOM' %}
                      <li class="list-group-item">
                          <span class="pull-left"><strong>Phylum:</strong> <em>{{taxon.taxon.nameusage_set.phylum_fk.name.canonical_name}}</em></span>
                      </li>
                      {% endif %}  
                      {% if taxon.taxon.rank not in 'PHYLUMKINGDOM' %}
                      <li class="list-group-item">
                          <span class="pull-left"><strong>Classe:</strong> <em>{{taxon.taxon.nameusage_set.class_fk.name.canonical_name}}</em></span>
                      </li>
                      {% endif %}
                      {% if taxon.taxon.rank not in 'CLASSPHYLUMKINGDOM' %}
                      <li class="list-group-item">
                          <span class="pull-left"><strong>Ordine:</strong> <em>{{taxon.taxon.nameusage_set.ordo_fk.name.canonical_name}}</em></span>
                      </li>
                      {% endif %}
                      {% if taxon.taxon.rank not in 'ORDOCLASSPHYLUMKINGDOM' %}
                      <li class="list-group-item">
                          <span class="pull-left"><strong>Famiglia:</strong> <em>{{taxon.taxon.nameusage_set.family_fk.name.canonical_name}}</em></span>
                      </li>
                      {%endif%}                                                                             
                      {% if taxon.taxon.rank not in 'FAMILYORDOCLASSPHYLUMKINGDOM' %}
                      <li class="list-group-item">
                          <span class="pull-left"><strong>Genere:</strong> <em>{{taxon.taxon.nameusage_set.genus_fk.name.canonical_name}}</em></span>
                      </li>
                      {%endif%}
                  </ul>
                </div>
                {%endif %}
                {% if taxon.taxon.rank == 'SPECIE' %}
                <div class="col-5">
                    <h4>Descrizione</h4>
                    <!--<p>test test</p>-->
                    </br>
                {% else %}
                <div class="col-12">
                {% endif %}
                    <h4>Checklist presenza</h4>
                    <ul>

                      <li><strong>Regioni ({{taxon.regioni_n}})</strong>: {{taxon.regioni|addwbr}}</li>

                      <li><strong>Province ({{taxon.province_n}})</strong>: {{taxon.province|addwbr}}</li>

                      {% if user.is_authenticated %}

                      <li><strong>Comuni ({{taxon.comuni_n}})</strong>: {{taxon.comuni|addwbr}}</li>

                      <li><strong>Habitat Natura 2000</strong> ({{taxon.habitat_natura2000_n|add:"-1"}}): {{taxon.habitat_natura2000|addwbr}}</li>

                      <li><strong>SIC - ZPS</strong> ({{taxon.sic_zps_n|add:"-1"}}): {{taxon.sic_zps|addwbr}}</li>
                    {% endif %}

                    </ul>
                {% if not taxon.taxon.taxonprotectionnormalized.habitat and taxon.taxon.taxonprotectionnormalized.uccelli and taxon.taxon.taxonprotectionnormalized.berna and taxon.taxon.taxonprotectionnormalized.bonn and taxon.taxon.taxonprotectionnormalized.cites %}
                
                  {% if taxon.taxon.rank == 'SPECIE' %}
                    </hr>
                    <h4>Protezione e status</h4>
                  
                    <ul>
                      {% if taxon.taxon.taxonprotectionnormalized.habitat %}
                      <li>Allegati <strong>Direttiva Habitat</strong>: {{taxon.taxon.taxonprotectionnormalized.habitat}}</li>
                      {%endif%}
                      {% if taxon.taxon.taxonprotectionnormalized.uccelli %}
                      <li>Allegati <strong>Direttiva uccelli</strong>: {{taxon.taxon.taxonprotectionnormalized.uccelli}}</li>
                      {%endif%}
                      {% if taxon.taxon.taxonprotectionnormalized.berna %}
                      <li>Allegati <strong>Convenzione di Berna</strong>: {{taxon.taxon.taxonprotectionnormalized.berna}}</li>
                      {%endif%}
                      {% if taxon.taxon.taxonprotectionnormalized.bonn %}
                      <li>Allegati <strong>Convenzione di Bonn</strong>: {{taxon.taxon.taxonprotectionnormalized.bonn}}</li>
                      {%endif%}
                      {% if taxon.taxon.taxonprotectionnormalized.cites %}
                      <li><strong>CITES</strong>: {{taxon.taxon.taxonprotectionnormalized.cites}}</li>
                      {% endif %}                      
                    </ul>
                  {% endif %}
                {%endif%}
                  </div>
                </div>                
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>

  </div>

