{% load static %}
{% load thumbnail %}
{% load replacewhite %}
{% load addwbr %}

<!-- Has to be dynamically generated at specie insertion -->
<!-- Modal -->
<div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><em>{{taxonname}}</em> ({{taxon.taxon.rank}})</h3>
        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div class="container profile-body">
          <div class="panel-body">
            <div class="row">
                Nessuna statistica riassuntiva rinvenuta per la tassonomia!</br>
                Probabilmente si tratta di una aggiunta recente del portale: riprova più tardi!
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>

  </div>
</div>

