{% extends "data_requests/datarequest_base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load crispy_forms_tags%}

{% block extra_head %}
  {{ block.super }}
  {{ form.media }}
  <style>
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #E23A1A;
  }
  textarea.form-control {
    max-height: 5em;
  }  
  </style>  
    <script>
    $(document).on("submit","form", function () {
      loadToggle(true);
    });  
    </script>
{% endblock extra_head %}

{% block title %}{{ block.super }}Richieste dati - COMPLETA{% endblock %}

{%block mainlink%}<a href="{% url 'datarequests-list' %}" class="btn btn-info">Torna alle richieste</a>{%endblock mainlink%}

{% block request_detail %}
<div class="container">
  <p>I file generati generati dal sistema sono in formato CSV compresso (ZIP), con ";" come separatore delle colonne. Le estrazioni sono molto pesanti: si consiglia di conseguenza di leggere il file con programmi appositi non-Excel, ad esempio QGIS ed R.</p>

  <p>Il sistema di riferimento delle coordinate è 3035 - LAEA EU.</p>
  <p>L'estrazione impiega alcuni secondi - nel caso della modalità "completa", anche qualche minuto -: si prega quindi di far strascorrere almeno un paio di minuti prima di ritentare l'estrazione. In ogni caso, aggiornare la visualizzazione della propria casella di posta prima. Se trascorsi più di cinque minuti il sistema non dovesse inviare la mail automatica, contattare l'amministratore di sistema.</p>
    <form class="row mt-3 mb-2 form">
      {% csrf_token %}
      <div class="input-group">
        <input
          class="form-control"
          type="email"
          name="email"
          id="email"
          placeholder="Indirizzo mail"
          required
        />
        <select id="typ" name="tipo-estrazione">
            <option value="full">Completa</option>
            <option value="region-veneto">Regionale - Veneto</option>
            <option value="region-fvg">Regionale - Friuli Venezia Giulia</option>
            <option value="province-pat">Provinciale - Provincia Autonoma di Trento</option>
            <option value="province-belluno">Provinciale - Belluno</option>
            <option value="province-gorizia">Provinciale - Gorizia</option>
            <option value="province-padova">Provinciale - Padova</option>
            <option value="province-pordenone">Provinciale - Pordenone</option>
            <option value="province-rovigo">Provinciale - Rovigo</option>
            <option value="province-treviso">Provinciale - Treviso</option>
            <option value="province-trieste">Provinciale - Trieste</option>
            <option value="province-venezia">Provinciale - Venezia</option>
            <option value="province-verona">Provinciale - Verona</option>
            <option value="province-vicenza">Provinciale - Vicenza</option>
            <option value="province-udine">Provinciale - Udine</option>
          </select>        
        <div class="input-group-append">
          <button
            title="Esporta ed invia all'indirizzo indicato."
            class="btn btn-success"
            type="submit"
          >
            Esporta
          </button>
        </div>
      </div>
    </form>
{% endblock request_detail %}

{% block bottom_scripts%}
  {{block.super}}
  <script>

    document.querySelector('.form').addEventListener('submit', async (event) => {
        await event.preventDefault();
        if (
          !window.confirm(
            "Sei sicur* di voler estrarre i dati ed inviarli all'indirizzo mail indicato?"
          )
        ) {
          return;
        }
        const csrftoken = await document.querySelector('[name=csrfmiddlewaretoken]').value;
        const userEmail = await document.querySelector('[name=email]').value;
        const extractionType = await document.querySelector('[name=tipo-estrazione]').value;

        const data = await JSON.stringify({
          userEmail: userEmail,
          extractionType: extractionType
        });

        const response = await fetch("{% url 'extract_full' %}", {
          method: 'POST',
          headers: {
            'X-CSRFToken': csrftoken,'Content-Type': 'application/json',charset: 'utf-8',
          },
          mode: 'same-origin',
          body: data,
        });
        const responseData = await response.json();
  
        console.log(responseData);

        if (response.ok) {alert(responseData.message);window.location = location.href;
        } else {
          alert(responseData.message);
        }
      });
  </script>
{%endblock%}
